<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">

<div th:fragment="header">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="robots" content="index, follow">
    <meta name="author" content="">
    <meta property="og:url" content="https://site.ru">
    <meta property="og:title" content="">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="640">
    <meta property="og:image:height" content="442">
    <meta property="og:description" content="">
    <meta property="og:site_name" content="Site-name">

    <link rel="apple-touch-icon" sizes="57x57" href="https://lk.rentinhand.ru/img/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="https://lk.rentinhand.ru/img/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://lk.rentinhand.ru/img/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://lk.rentinhand.ru/img/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://lk.rentinhand.ru/img/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://lk.rentinhand.ru/img/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://lk.rentinhand.ru/img/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://lk.rentinhand.ru/img/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://lk.rentinhand.ru/img/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"
          href="https://lk.rentinhand.ru/img/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://lk.rentinhand.ru/img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="https://lk.rentinhand.ru/img/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://lk.rentinhand.ru/img/icons/favicon-16x16.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Кокщдум Andrey">
    <meta name="description" content="MAD DOG
                                                            - это не просто программа для проката
                                                            - это одна система, управляющая вашим арендным бизнесом.
                                                            любое устройство, в любое время и в любом месте.">
    <meta name="keywords" content="аренда, прокат, бронирование, MAD DOG, доска объявлений, витрина вещей">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="MAD DOG - сервис для учета и автоматизации проката">
    <meta property="og:image" content="assets/img/icons/badge.jpg" th:src="@{/templates/assets/img/icons/badge.jpg}">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="1024">
    <meta property="og:image:height" content="1024">
    <meta property="og:description"
          content="Сервис автоматизирует учет выдаваемых товаров по клиентам, ведет историю платежей и взаиморасчетов, формируя все необходимые отчеты для руководителя">
    <link rel="image_src" href="/templates/assets/img/icons/badge.jpg" th:href="@{/templates/assets/img/icons/badge.jpg}">
    <meta name="theme-color" content="#179d82">
    <link rel="manifest" href="/templates/assets/json/manifest.json" th:href="@{/templates/assets/json/manifest.json}">

    <link rel="preload" href="/templates/assets/css/app.css" as="style" th:href="@{/templates/assets/css/app.css}">
    <link rel="preload" href="/templates/assets/css/main.css" as="style" th:href="@{/templates/assets/css/main.css}">
    <link rel="preload" href="/templates/assets/css/media.css" as="style" th:href="@{/templates/assets/css/media.css}">
    <link rel="preload" href="/templates/assets/css/checkout.css" as="style" th:href="@{/templates/assets/css/checkout.css}">
    <link rel="preload" href="/templates/assets/js/app.js" as="script" th:href="@{/templates/assets/js/app.css}">
    <link rel="stylesheet" href="/templates/assets/css/app.css" th:href="@{/templates/assets/css/app.css}">
    <link rel="stylesheet" href="/templates/assets/css/media.css" th:href="@{/templates/assets/css/media.css}">
    <link rel="stylesheet" href="/templates/assets/css/checkout.css" th:href="@{/templates/assets/css/checkout.css}">
    <link rel="stylesheet" href="/templates/assets/css/main.css" th:href="@{/templates/assets/css/main.css}">
    <link rel="stylesheet" href="/templates/assets/fonts/webfonts/fa-solid-900.ttf" th:href="@{/templates/assets/fonts/fontawesome/all.js}">
    <script src="/templates/assets/fonts/fontawesome/all.js" th:src="@{/templates/assets/fonts/webfonts/fa-solid-900.ttf}"></script>
    <script src="/templates/assets/js/main.js" th:src="@{/templates/assets/js/main.js}"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</div>
</html>
