<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<nav data-v-59295fda="" role="navigation" class="navbar navbar-admin navbar-fixed-top">
    <div data-v-59295fda="" class="navbar-header">
        <a data-v-59295fda="" class="navbar-minimalize minimalize-styl-2">
            <i data-v-59295fda="" class="fa fa-bars"></i>
        </a>
    </div>
    <ul data-v-59295fda="" class="nav navbar-top-links navbar-right" style="flex-basis: 0px;">
        <li data-v-59295fda="" id="logout">
            <a class="count-info" href="javascript: document.logoutForm.submit()" role="menuitem"><i data-v-59295fda="" class="fa fa-sign-out-alt f-20">
                <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                    <input hidden type="submit" value="Sign Out"/>
                </form>
            </i></a>
        </li>
    </ul>
</nav>
</html>