<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>


<div class="sidebar-collapse">
    <ul id="side-menu" class="nav metismenu">
        <li class="nav-header text-left">
            <a href="#" class="main-link">
                <img src="/templates/assets/img/logo/mad-dog-logo.png">
                <h4>MAD DOG</h4>
            </a>
        </li>
        <li data-id="15" data-parent_id="2" class="">
            <a th:href="@{/}" class="" data-link="HumanClientApp"><b><i
                    class="fa fa-users"></i></b>
                <span class="nav-label">Выдача</span>
            </a>
        </li>
        <li data-id="4" data-parent_id="2" class="">
            <a href="#"><b><i class="fa fa-user-tie"></i></b>
                <span class="nav-label">Приемка</span>
                <span class="fa arrow"></span>
            </a>
            <ul class="nav nav-second-level">
            </ul>
        </li>
        <li data-id="310828" data-parent_id="2" class="">
            <a th:href="@{/calendar}" href="/ru/kit/"  class="" data-link="KitApp"><b><i class="fa fa-boxes"></i></b>
                <span class="nav-label">Календарь</span>
            </a>
        </li>
        <li data-id="8" data-parent_id="2" class="">
            <a th:href="@{/tools}" class="" data-link="InventoryApp"><b><i
                    class="fa fa-cubes"></i></b>
                <span class="nav-label">Оборудование</span>
            </a>
        </li>
        <li data-id="170807" data-parent_id="2" class="">
            <a th:href="@{/clients}" class="" data-link="RentBookingApp"><b><i
                    class="fa fa-calendar-alt"></i></b>
                <span class="nav-label">Клиенты</span>
            </a>
        </li>
        <li data-id="22" data-parent_id="2" class="">
            <a href="/ru/rent/" class="" data-link="RentApp"><b><i class="fa fa-book"></i></b>
                <span class="nav-label">Ремонт</span>
            </a>
        </li>
        <li data-id="9" data-parent_id="2" class="">
            <a href="#"><b><i class="fa fa-shopping-cart"></i></b>
                <span class="nav-label">Списание</span>
                <span class="fa arrow"></span>
            </a>
            <ul class="nav nav-second-level">


            </ul>
        </li>
        <li data-id="12" data-parent_id="2" class="">
            <a href="#"><b><i class="fa fa-wrench"></i></b>
                <span class="nav-label">Продажа</span>
                <span class="fa arrow"></span>
            </a>
            <ul class="nav nav-second-level">


            </ul>
        </li>
        <li data-id="5" data-parent_id="2" class="">
            <a href="/ru/my/settings/base/" class="" data-link="LkSettingsBaseApp"><b><i
                    class="fa fa-cogs"></i></b>
                <span class="nav-label">Отчеты</span>
            </a>
        </li>
    </ul>
</div>
</body>
</html>
