<!DOCTYPE html>
<html class="no-js" lang="ru-RU" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<div th:insert="segments/header.html"></div>
<body class="body">
<div class="wrapper">
    <div th:insert="segments/main.html"></div>
    <main class="main">
        <section class="authorization-form">
            <div class="container">
                <!--<div th:if="${message!=null}">
                    <div class="authorization-form__msg">
                        <div class="authorization-form__msg">
                            <div class="authorization-form__err" th:text="${message}"><span></span></div>
                        </div>
                    </div>
                </div>-->

                <div class="authorization-form__title"><span>Войти в аккаунт</span></div>
                <div>
                    <span th:if="${param.loginError!=null}" th:text="'Вы ввели неправильный логин/пароль'">test</span>
                </div>
                <form class="authorization-form__form" method="post" th:action="@{/login}">
                    <div class="authorization-form__wrapper">
                        <div class="authorization-form__inputs">
                            <ul class="authorization-form__inputs-list">
                                <li class="registration-form__inputs-item">
                                    <div class="registration-form__inputs-wrapper">
                                        <input class="registration-form__inputs-input inp" type="text" id="username" name="username"
                                               required placeholder="Имя пользователя">
                                    </div>
                                </li>
                                <li class="authorization-form__inputs-item">
                                    <div class="authorization-form__inputs-wrapper">
                                        <input class="authorization-form__inputs-input inp" type="password" id="password"
                                               name="password" required placeholder="Пароль">
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="authorization-form__controls">
                            <button class="authorization-form__submit authorization-form__inputs-input inp"
                                    type="submit" value="submit">Отправить
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </main>
</div>
</div>

<div th:insert="segments/footer.html">

</div>
</body>
<script type="text/javascript" src="static/js/vendor.min.js" th:src="@{/js/vendor.min.js}"></script>
<script type="text/javascript" src="static/js/main.js" th:src="@{/js/main.js}"></script>
</html>