<div data-v-537a461c="" id="menu-toggle" class="navbar-header">
    <a data-v-537a461c="" class="navbar-minimalize minimalize-styl-2">
        <i data-v-537a461c="" class="fa fa-bars"></i>
    </a>
</div>
<ul data-v-59295fda="" class="nav navbar-top-links navbar-right" style="flex-basis: 0px;">
    <li data-v-59295fda="" id="logout">
        <form id="logoutForm" th:action="@{/logout}" method="post">
        <a class="count-info" href="javascript: document.getElementById('logoutForm').submit()" role="menuitem"><i class="fa fa-sign-out-alt f-20">
                <input hidden type="submit" value="Sign Out">
        </i></a>
        </form>
    </li>
</ul>