<div id="menu-toggle" class="navbar-header">
    <a class="navbar-minimalize minimalize-styl-2">
        <i class="fa fa-bars"></i>
    </a>
</div>
<ul class="nav navbar-top-links navbar-right" style="flex-basis: 0px;">
    <li id="logout">
        <form id="logoutForm" th:action="@{/logout}" method="post">
            <span class="count-info" th:text ="${#authentication.getPrincipal().getUsername()}"></span>
        <a class="count-info" href="javascript: document.getElementById('logoutForm').submit()" role="menuitem">
            <i class="fa fa-sign-out-alt f-20">
                <input hidden type="submit" value="Sign Out">
        </i></a>
        </form>
    </li>
</ul>