<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div class="text-center" id="ex1">
    <p id="alert_message" class="font-bold"></p>
    <script th:inline="javascript">
        var message = [[${message}]];
        if (message){
            console.log(typeof message);
            console.log(message);
            $("#alert_message").text(message.toString());
            $("#ex1").modal();
        }
    </script>
</div>
<nav role="navigation" class="rih-nav">
    <div class="nav-header text-center sidebar-collapse__menu-logo rih-nav__header">
        <a href="#" class="main-link">
            <div class="sidebar-collapse__menu-logo">
                <img class="sidebar-collapse__menu-logo_img" th:src="@{/img/logo/mad-dog-logo.png}">
            </div>
            <div class="sidebar-collapse__menu-title">
                <h4 class="sidebar-collapse__menu-title_text">MAD DOG</h4>
            </div>
        </a>
    </div>
    <ul id="side-menu" class="nav metismenu rih-nav__list">
        <li data-id="15" data-parent_id="2">
            <a class="vidacha activ-page" th:href="@{/}" data-link="HumanClientApp"><b><i
                    class="fa fa-users"></i></b>
                <span class="nav-label">Выдача</span>
            </a>
        </li>
        <li data-id="4" data-parent_id="2">
            <a class="priemka" th:href="@{/acceptance}"><b><i class="fa fa-user-tie"></i></b>
                <span class="nav-label">Приемка</span>
            </a>
        </li>
        <li data-id="310828" data-parent_id="2">
            <a class="calendar" th:href="@{/calendar}" href="/ru/kit/" data-link="KitApp"><b><i class="fa fa-boxes"></i></b>
                <span class="nav-label">Календарь</span>
            </a>
        </li>
        <li data-id="8" data-parent_id="2">
            <a class="tools" th:href="@{/tools}" data-link="InventoryApp"><b><i
                    class="fa fa-cubes"></i></b>
                <span class="nav-label">Оборудование</span>
            </a>
        </li>
        <li data-id="170807" data-parent_id="2">
            <a class="clients" th:href="@{/clients}" data-link="RentBookingApp"><b><i
                    class="fa fa-calendar-alt"></i></b>
                <span class="nav-label">Клиенты</span>
            </a>
        </li>
        <li data-id="22" data-parent_id="2">
            <a class="remont" href="/ru/rent/" th:href="@{/repair}" data-link="RentApp"><b><i
                    class="fa fa-book"></i></b>
                <span class="nav-label">Ремонт</span>
            </a>
        </li>
        <li data-id="9" data-parent_id="2">
            <a class="spisanie" th:href="@{/write-off}"><b><i class="fa fa-shopping-cart"></i></b>
                <span class="nav-label">Списание</span>
            </a>
        </li>
        <li data-id="12" data-parent_id="2">
            <a class="prodaza" th:href="@{/sale}"><b><i class="fa fa-wrench"></i></b>
                <span class="nav-label">Продажа</span>
            </a>
        </li>
        <li data-id="12" data-parent_id="2" sec:authorize="hasAuthority('ADMIN')">
            <a class="admin-panel" th:href="@{/admin-panel}"><b><i class="fa fa-wrench"></i></b>
                <span class="nav-label">Панель Администратора</span>
            </a>
        </li>
        <li data-id="12" data-parent_id="2">
            <a class="estimate" th:href="@{/estimate}"><b><i class="fa fa-wrench"></i></b>
                <span class="nav-label">Смета</span>
            </a>
        </li>
        <li data-id="5" data-parent_id="2">
            <a class="otchety" href="/ru/my/settings/base/" data-link="LkSettingsBaseApp"><b><i
                    class="fa fa-cogs"></i></b>
                <span class="nav-label">Отчеты</span>
            </a>
        </li>
    </ul>
    <div class="text-center" id="ex1">
        <p id="alert_message" class="font-bold"></p>
    </div>
</nav>
</html>
