<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/" th:fragment="scripts">
    <script src="/static/js/main.js" th:src="@{/js/main.js}"></script>
    <script src="/static/fonts/fontawesome/all.js" th:src="@{/fonts/fontawesome/all.js}"></script>
    <script src="/static/js/main.js" th:src="@{/js/main.js}"></script>
    <script src="/static/js/service-worker.js" th:src="@{/js/service-worker.js}"></script>
    <script src="/static/js/sendData.js" th:src="@{/js/sendData.js}"></script>
</html>