<div th:fragment="scripts">
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
    <script type="text/javascript" th:src="@{/fonts/fontawesome/all.js}"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
    <script type="text/javascript" th:src="@{/js/service-worker.js}"></script>
    <script type="text/javascript" th:src="@{/js/sendData.js}"></script>
    <!--<script type="text/javascript">
        document.write('<script src="https://91.210.168.186/js/sendData.js">' + '<\/script>');
    </script>-->
</div>