<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>Панель администратора</title>
    <div th:replace="fragments/head :: header"></div>
</head>
    <body class="fixed-sidebar pace-done fixed-nav fixed-nav-basic curent-page">
        <div class="b-overlay-wrap position-relative w-100" size="sm" id="wrapper">
            <div class="b-overlay-wrap position-relative w-100" size="sm" id="wrapper">
                <div th:insert="fragments/menu_sidebar.html"></div>
                <div class="b-overlay-wrap position-relative w-100" size="sm">
                    <div class="rih-page-wrapper">
                        <nav data-v-59295fda="" role="navigation" class="navbar navbar-admin navbar-fixed-top" th:insert="fragments/header_logout.html"></nav>
                    <nav data-v-59295fda="" role="navigation" class="navbar navbar-admin navbar-fixed-top" th:insert="fragments/header_logout.html"></nav>
                        <main class="wrapper wrapper-content border-bottom">
                            <div class="b-overlay-wrap position-relative">
                                <div class="tab-content">
                                    <div class="col-12 edit-container__header-select">
                                        <h2 class="login__heading">
                                            Админ панель
                                        </h2>
                                    </div>
                                    <div class="col-12 form-creat mb-3 admin-panel">
                                        <div class="bg-white p-3 edit-container">
                                            <div class="row admin-panel-wrapp">
                                                <div class="col-6 admin-panel__input-wrapp">
                                                    <h2>Ввод данных</h2>
                                                    <form th:action="@{/admin-panel/create}" method="post" th:object="${user}">
                                                    <div class="admin-panel__input-box">
                                                        <div role="group" class="form-group">
                                                            <label class="d-block">Укажите логин для нового пользователя</label>
                                                            <span>
                                                                <input class="form-control" type="text" placeholder="Введите логин" th:field="*{username}" required>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="admin-panel__input-box">
                                                        <div role="group" class="form-group">
                                                            <label class="d-block">Укажите пароль для нового пользователя</label>
                                                            <span>
                                                                <input class="form-control" type="password" placeholder="Введите пароль" th:field="*{password}" required>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="admin-panel__input-box">
                                                        <div role="group" class="form-group">
                                                            <label class="d-block">Укажите ФИО для нового пользователя</label>
                                                            <span>
                                                                <input class="form-control" type="text" placeholder="введите ФИО" th:field="*{fullName}" required>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <label class="d-block">Выберите роль</label>
                                                    <div class="admin-panel__select select">
                                                        <select id="roles" th:field="*{roles}">
                                                            <option class="vs__selected" value="" disabled>Выберите роль</option>
                                                            <option class="vs__selected" th:each="role : ${roles}" th:value="${role.getValue()}" th:text="${role}" value="role"></option>
                                                        </select>
                                                    <span class="focus"></span>
                                                    </div>
                                                    <div class="login__button-position">
                                                        <input class="admin-panel__btn" type="submit" value="Зарегистрировать">
                                                    </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-content">
                                    <div class="col-12 bg-white p-3 edit-container">
                                        <table class="table table-1190 table-bordered">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Логин</th>
                                                    <th scope="col">ФИО</th>
                                                    <th scope="col">Роль</th>
                                                </tr>
                                            </thead>
                                            <div class="text-center">
                                                <tbody>
                                                    <tr th:each="userDTO : ${users}">
                                                        <td class="align-middle"><a class="nav-link" th:href="@{/admin-panel/edit/{id}/(id=${userDTO.getId()})}"
                                                                                    style="font-size: medium" th:utext="${userDTO.username}"></a></td>
                                                        <td class="align-middle"><h1 class="display-6" style="font-size: medium"
                                                                                    th:utext="${userDTO.fullName}"></h1></td>
                                                        <td class="align-middle"><h1 class="display-6" style="font-size: medium" th:utext="${userDTO.roles}"></h1>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </div>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </main>
                         <div th:insert="fragments/footer.html"></div>

                    </div>
                </div>
            </div>
        </div>
         <div th:insert="fragments/scripts.html"></div>
    </body>
</html>