<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">


<head>
    <title>Клиенты</title>
    <div th:replace="fragments/head :: header"></div>
</head>

<body class="fixed-sidebar pace-done fixed-nav fixed-nav-basic curent-page">
<div class="b-overlay-wrap position-relative w-100" size="sm" id="wrapper">
    <div class="b-overlay-wrap position-relative w-100" size="sm" id="wrapper">
        <div th:insert="fragments/menu_sidebar.html"></div>
        <div class="b-overlay-wrap position-relative w-100" size="sm">
            <div class="rih-page-wrapper">
                <nav data-v-59295fda="" role="navigation" class="navbar navbar-admin navbar-fixed-top" th:insert="fragments/header_logout.html"></nav>
                <main class="wrapper wrapper-content border-bottom">
                    <div data-v-e551daac="">
                        <div class="btn-pimary__groups-wrapper vidacha-sozdach mb-3 paddin-l-r-15">
                            <div data-v-e551daac="" class="mb-3 text-right">
                                <a data-v-e551daac="" href="/clients/create" th:href="@{/clients/create}" class="btn btn-primary min-width-120  btn-add_vidacha green">Создать</a>
                            </div>
                            <div data-v-e551daac="" class="mb-3 text-right">
                                <a data-v-e551daac="" href="#" class="btn btn-primary min-width-120 btn-update_vidacha grey">Экспорт</a>
                            </div>
                        </div>
                        <div data-v-e551daac="">
                            <div data-v-e551daac="" class="b-overlay-wrap position-relative custom-ll">
                                <div class="row">
                                    <div class="custom-ll__header col-12">
                                        <div class="custom-ll__header__full show">
                                            <div class="custom-ll__header__full__right">
                                                <form class="custom-ll__header-form" th:action="@{/clients}" method="post">
                                                    <div role="group" class="custom-ll__header-label form-group">
                                                        <label class="d-block">Поиск</label>
                                                    </div>
                                                    <div class="custom-ll__header-wrapp">
                                                        <div class="header__search header__search_width header__search_width-clients">
                                                            <input type="search" name="username" placeholder="Поиск" class="form-control">
                                                            <span class="header__search__btn"><i class="fa fa-search"></i></span>
                                                        </div>
                                                        <div class="header__filter" style="margin-left: auto;">
                                                            <input type="submit" value="Найти" class="btn btn-default custom-ll__filter-button collapsed search-btn" aria-expanded="false" aria-controls="filterbar" style="overflow-anchor: none;">
                                                            <!-- <i class="fas fa-filter"></i> -->
                                                            </input>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pagination-control col-lg-12 order-lg-1">
                                        <div class="btn__under-table">
                                            <div data-v-e551daac="" class="mb-3 text-right">
                                                <a data-v-e551daac="" href="/clients" class="btn btn-primary min-width-120 btn-add_vidacha grey">Все</a>
                                            </div>
                                            <div data-v-e551daac="" class="mb-3 text-right">
                                                <a data-v-e551daac="" href="#" th:href="@{/clients(filter=individual)}" class="btn btn-primary min-width-120 btn-open_vidacha  grey">Физ.лица</a>
                                            </div>
                                            <div data-v-e551daac="" class="mb-3 text-right">
                                                <a data-v-e551daac="" href="#" th:href="@{/clients(filter=legal)}" class="btn btn-primary min-width-120 btn-delate_vidacha grey">Юр.лица</a>
                                            </div>
                                            <div data-v-e551daac="" class="mb-3 text-right">
                                                <a data-v-e551daac="" href="#" th:href="@{/clients(filter=blacklist)}" class="btn btn-primary min-width-120 btn-update_vidacha  grey">Черный список</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pagination-control col-lg-12 order-lg-1">
                                        <div class="custom-ll__table table-responsive overflow-auto">
                                            <table class="table table-1190 w-100 in4dr-form">
                                                <thead>
                                                    <tr>
                                                        <th class="first-th">№</th>
                                                        <th>ФИО</th>
                                                        <th>Телефон</th>
                                                        <th>Скидка</th>
                                                        <th>Кол-во проектов</th>
                                                        <th>Примечание</th>
                                                        <th>Договор</th>
                                                        <th>Черный список</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr th:each="clientDTO : ${list_clients}">
                                                        <td class="column-table">
                                                            <div class="column-table_checkbox-wrapp">
                                                                <input class="column-table_checkbox" type="checkbox" id="" name=""><span class="tools-td-text table-td-text column-table_checkbox-number" th:utext="${clientDTOStat.index+1}"></span>
                                                            </div>
                                                        </td>
                                                        <td class="align-middle">
                                                            <a class="nav-link" style="font-size: medium" th:href="@{/clients/edit/{id}/(id=${clientDTO.id})}" th:utext="${clientDTO.fullName}"></a>
                                                        </td>
                                                        <td><span class="tools-td-text table-td-text"
                                                                th:utext="${clientDTO.phoneNumber}"></span>
                                                        </td>
                                                        <td><span class="tools-td-text table-td-text"
                                                                th:utext="${clientDTO.discount}"></span>
                                                        <td><span class="tools-td-text table-td-text">Количество
                                                                проектов</span>
                                                        <td><span class="tools-td-text table-td-text"
                                                                th:utext="${clientDTO.note}"></span>
                                                        <td><span class="tools-td-text table-td-text">Договор</span>
                                                        <td><span class="tools-td-text table-td-text"
                                                                th:utext="${clientDTO.inBlackList}"></span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="pagination-control col-lg-12 order-lg-1">
                                    <!-- Bootstrap 4 -->
                                    <nav aria-label="Навигация по страницам">
                                        <ul class="pagination">
                                            <li class="page-item" th:if="${list_clients.totalPages > 0}"
                                                th:each="page_number : ${page_numbers}">
                                                <a class="page-link-m page-link" th:href="@{/clients(size=${list_clients.size}, page=${page_numberStat.index})}" th:text="${page_numberStat.index}" th:class="${page_number==list_clients.number + 1} ? active"></a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <div th:insert="fragments/footer.html"></div>

            </div>

        </div>

    </div>
</div>
<div th:insert="fragments/scripts.html"></div>
</body>

</html>