<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title th:text="${client.typeClient != null} ? 'Редактирование клиента' : 'Создать нового клиента'"></title>
    <div th:replace="fragments/head :: header"></div>
</head>

<body class="fixed-sidebar pace-done fixed-nav fixed-nav-basic curent-page">
    <div class="b-overlay-wrap position-relative w-100" size="sm" id="wrapper">
        <div class="b-overlay-wrap position-relative w-100" size="sm" id="wrapper">
            <div th:insert="fragments/menu_sidebar.html"></div>
            <div class="b-overlay-wrap position-relative w-100" size="sm">
                <div class="rih-page-wrapper">
                    <nav data-v-59295fda="" role="navigation" class="navbar navbar-admin navbar-fixed-top" th:insert="fragments/header_logout.html"></nav>
                    <main class="wrapper wrapper-content border-bottom">
                        <div class="b-overlay-wrap position-relative">
                            <div class="tab-content">
                                <div class="edit-container__header bg-white p-3 edit-container">
                                    <div class="col-6 edit-container__header-select">
                                        <h3 class="my-3">
                                            Тип клиента
                                        </h3>
                                        <div class="v-select edit-container__select vs--single vs--searchable main-secect__wrapp">
                                            <div class="vs__dropdown-toggle main-secect">
                                                <select id="select_type_client" th:field="*{client.typeClient}"
                                                        class="vs__selected-options main-secect__opions">
                                                    <option class="vs__selected vs__dropdown-toggle"
                                                            value="" disabled>Выберите тип клиента
                                                    </option>
                                                    <option class="vs__selected vs__dropdown-toggle"
                                                            th:each="type : ${T(wns.constants.TypeClients).values()}"
                                                            th:value="${type}"
                                                            th:text="${type.getType()}">
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 form-creat__half">
                                        <div class="form-group col-lg-3">
                                            <div class="p-svg p-curve p-jelly pretty" p-checkbox="">
                                                <input th:name="inBlackList" th:value="${client.inBlackList}" id="inBlackList" type="checkbox">
                                                <script>if([[${client.inBlackList}]])
                                                {
                                                    $('#inBlackList').click();
                                                }</script>
                                                <div class="state p-primary">
                                                    <label>В черном списке
                                                        <svg slot="extra" viewBox="0 0 20 20" class="svg svg-icon">
                                                            <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                                                                style="stroke: white; fill: white;"></path>
                                                        </svg>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="individual" class="form-creat mb-3 col-12">
                                    <div class="bg-white p-3 edit-container">
                                        <div class="row form-creat__half-wrapp form-creat__half-wrapp_client">
                                            <div class="col-12 form-creat__half-title">
                                                <h3 class="my-3 form-creat__half-title_text">
                                                    Основное
                                                </h3>
                                            </div>
                                            <div class="col-12">
                                                <div class="col-6 form-creat__half">
                                                    <div role="group" class="form-group">
                                                        <label class="d-block">ФИО/Наименование</label>
                                                        <span><input required th:value="${client.fullName}" th:name="fullName" id="fullName_individual" type="text" class="form-control" placeholder="Введите ФИО/Наименование"></span>
                                                    </div>
                                                </div>
                                                <div class="col-6 form-creat__half">
                                                    <div role="group" class="form-group">
                                                        <label class="d-block">Скидки</label>
                                                        <span>
                                                            <input required th:value="${client.discount}" th:name="discount" id="discount_individual" type="text" class="form-control" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                                                                    placeholder="Введите скидку в процентах">
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bg-white p-3 edit-container">
                                        <div class="row form-creat__half-wrapp form-creat__half-wrapp_client">
                                            <div class="col-12 form-creat__half-title">
                                                <h3 class="my-3 form-creat__half-title_text">
                                                    Контакты
                                                </h3>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-creat__half col-6">
                                                    <div role="group" class="form-group">
                                                        <label class="d-block">Телефон</label>
                                                        <span>
                                                            <input required th:name="phoneNumber" th:value="${client.phoneNumber}"
                                                                    id="phoneNumber_individual"
                                                                    class="form-control"
                                                                    placeholder="+7-999-99-99">
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-6 form-creat__half">
                                                    <div role="group" class="form-group">
                                                        <label class="d-block">E-mail</label>
                                                        <span>
                                                            <input required th:name="email" th:value="${client.email}" id="email_individual"
                                                                    type="email"
                                                                    class="form-control" placeholder="Ваш email">
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bg-white p-3 edit-container">
                                        <div class="row form-creat__half-wrapp form-creat__half-wrapp_client">
                                            <div class="col-12 form-creat__half-title">
                                                <h3 class="my-3 form-creat__half-title_text">
                                                    Дополнительно
                                                </h3>
                                            </div>
                                            <div class="col-12">
                                                <div class="col-6 form-creat__half">
                                                    <div role="group" class="form-group">
                                                        <label class="d-block">Откуда пришел</label>
                                                        <span>
                                                            <input required th:name="fromComing" th:value="${client.fromComing}"
                                                                    id="fromComing_individual" type="text"
                                                                    class="form-control"
                                                                    placeholder="Как или где узнали о нас?">
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-6 form-creat__half">
                                                    <div role="group" class="form-group">
                                                        <label class="d-block">Лимит</label>
                                                        <span>
                                                            <input required th:name="limited" th:value="${client.limited}" id="limit_individual"
                                                                    type="text" class="form-control"
                                                                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                                                                    placeholder="9999999999,99">
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="anomalia">
                                                    <div class="col-6 form-creat__half">
                                                        <div role="group" class="form-group">
                                                            <label class="d-block">Примечание</label>
                                                            <span>
                                                                <textarea required th:name="note" class="form-control" th:value="${client.note}" th:text="${client.note}"
                                                                            id="note_individual"
                                                                            style="height: 40px;"></textarea>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-6 form-creat__half">
                                                        <div class="form-group">
                                                            <label class="d-block">Дата рождения</label>
                                                            <div class="vdpComponent vdpWithInput">
                                                                <input required type="date" th:name="birthday" th:value="${client.birthday}" id="birthday" placeholder="дд.мм.гггг">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-6 form-creat__half">
                                                    <div role="group" class="form-group">
                                                        <label class="d-block">Оператор постановщик</label>
                                                        <span>
                                                            <input required th:name="directorOfPhotography" th:value="${client.directorOfPhotography}"
                                                                    id="directorOfPhotography" type="text"
                                                                    class="form-control"
                                                                    placeholder="Введите ФИО">
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-6 form-creat__half">
                                                    <div role="group" class="form-group">
                                                        <label class="d-block">Продакшн</label>
                                                        <span>
                                                            <input required th:name="production" th:value="${client.production}" id="production" type="text"
                                                                    class="form-control"
                                                                    placeholder="Введите название">
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bg-white p-3 edit-container">
                                        <div class="row form-creat__half-wrapp form-creat__half-wrapp_client">
                                            <div class="col-12 form-creat__half-title">
                                                <h3 class="my-3 form-creat__half-title_text">
                                                    Паспортные данные
                                                </h3>
                                            </div>
                                            <div class="col-6 form-creat__half">
                                                <div role="group" class="form-group">
                                                    <label class="d-block">Серия/Номер</label>
                                                    <span>
                                                        <input required th:name="numberPassport" th:value="${client.numberPassport}" id="numberPassport"
                                                                type="text"
                                                                oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                                                                class="form-control"
                                                                aria-describedby="item-human-passport_serial">
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-6 form-creat__half">
                                                <div role="group" class="form-group">
                                                    <label class="d-block">Кем выдан</label>
                                                    <span>
                                                        <input required th:name="issuedBy" th:value="${client.issuedBy}" id="issuedBy"
                                                                type="text" class="form-control">
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-6 form-creat__half">
                                                <div class="form-group">
                                                    <label class="d-block">Дата выдачи паспорта</label>
                                                    <div class="vdpComponent vdpWithInput">
                                                        <input required type="date" th:name="dateIssuePassport" th:value="${client.dateIssuePassport}" id="dateIssuePassport" placeholder="дд.мм.гггг">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 form-creat__half">
                                                <div role="group" class="form-group">
                                                    <label class="d-block">Адрес фактический</label>
                                                    <span>
                                                        <input required th:name="addressReal" th:value="${client.addressReal}" type="text"
                                                                class="form-control" id="addressReal_individual"
                                                                placeholder="Введите адрес">
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-6 form-creat__half">
                                                <div class="form-group">
                                                    <label class="d-block">Дата создания</label>
                                                    <div class="vdpComponent vdpWithInput">
                                                        <input required type="date" th:name="dateCreating" th:value="${client.dateCreating}" id="dateCreating_individual" placeholder="дд.мм.гггг">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 form-creat__half">
                                                <div class="form-group">
                                                    <label class="d-block">Загрузите ваши фотографии на сервер</label>
                                                    <span>
                                                        <textarea th:value="${client.photos}" th:text="${client.photos}" name="photos" class="form-control" id="photos_individual" style="height: 40px;"></textarea>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="legal" class="form-creat mb-3 col-12">
                                    <div class="bg-white p-3 edit-container">
                                        <div class="row form-creat__half-wrapp form-creat__half-wrapp_client">
                                            <div class="col-12 form-creat__half-title">
                                                <h3 class="my-3 form-creat__half-title_text">
                                                    Основное
                                                </h3>
                                            </div>
                                            <div class="col-12">
                                                <div class="col-6 form-creat__half">
                                                    <div role="group" class="form-group">
                                                        <label class="d-block">ФИО/Наименование</label>
                                                        <span>
                                                            <input required th:name="fullName" th:value="${client.fullName}" id="fullName_legal"
                                                                    type="text" class="form-control"
                                                                    placeholder="Введите ФИО/Наименование">
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-6 form-creat__half">
                                                    <div role="group" class="form-group">
                                                        <label class="d-block">Полное наименование</label>
                                                        <span>
                                                            <input required th:name="legalName" th:value="${client.legalName}" type="text"
                                                                    id="legalName" class="form-control"
                                                                    placeholder="Введите ФИО/Наименование">
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bg-white p-3 edit-container">
                                        <div class="row form-creat__half-wrapp form-creat__half-wrapp_client">
                                            <div class="col-12 form-creat__half-title">
                                                <h3 class="my-3 form-creat__half-title_text">
                                                    Контакты
                                                </h3>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-creat__half col-6">
                                                    <div role="group" class="form-group">
                                                        <label class="d-block">Телефон</label>
                                                        <span>
                                                            <input required th:name="phoneNumber" th:value="${client.phoneNumber}" id="phoneNumber_legal"
                                                                    name="phoneNumber" class="form-control"
                                                                    placeholder="+7-999-99-99">
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-6 form-creat__half">
                                                    <div role="group" class="form-group">
                                                        <label class="d-block">E-mail</label>
                                                        <span>
                                                            <input required th:name="email" th:value="${client.email}" id="email_legal" type="email"
                                                                    class="form-control" placeholder="Ваш email">
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-6 form-creat__half">
                                                    <div role="group" class="form-group">
                                                        <label class="d-block">Адрес фактический</label>
                                                        <span>
                                                            <input required th:name="addressReal" th:value="${client.addressReal}" id="addressReal_legal"
                                                                    type="text" class="form-control"
                                                                    placeholder="Введите адрес">
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-6 form-creat__half">
                                                    <div role="group" class="form-group">
                                                        <label class="d-block">Юридический адрес</label>
                                                        <span>
                                                            <input required th:name="addressLegal" th:value="${client.addressLegal}" id="addressLegal"
                                                                    type="text" class="form-control"
                                                                    placeholder="Введите адрес">
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bg-white p-3 edit-container">
                                        <div class="row form-creat__half-wrapp form-creat__half-wrapp_client">
                                            <div class="col-12 form-creat__half-title">
                                                <h3 class="my-3 form-creat__half-title_text">
                                                    Дополнительно
                                                </h3>
                                            </div>
                                            <div class="col-12">
                                                <div class="col-6 form-creat__half">
                                                    <div role="group" class="form-group">
                                                        <label class="d-block">Откуда пришел</label>
                                                        <span>
                                                            <input required th:name="fromComing" th:value="${client.fromComing}" id="fromComing_legal"
                                                                    type="text" class="form-control"
                                                                    placeholder="Как или где узнали о нас?">
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-6 form-creat__half">
                                                    <div role="group" class="form-group">
                                                        <label class="d-block">Лимит</label>
                                                        <span>
                                                            <input required th:name="limited" th:value="${client.limited}" id="limit_legal"
                                                                    type="number" class="form-control"
                                                                    placeholder="9999999999,99">
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="anomalia">
                                                    <div class="col-6 form-creat__half">
                                                        <div role="group" class="form-group">
                                                            <label class="d-block">Скидки</label>
                                                            <span>
                                                                <input required th:name="discount" th:value="${client.discount}" id="discount_legal"
                                                                        type="text" class="form-control"
                                                                        placeholder="Введите скидку в процентах">
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-6 form-creat__half">
                                                        <div role="group" class="form-group">
                                                            <label class="d-block">Примечание</label>
                                                            <span>
                                                                <textarea required th:name="note" th:value="${client.note}" th:text="${client.note}" id="note_legal"
                                                                            class="form-control form-creat_textarea"></textarea>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bg-white p-3 edit-container">
                                        <div class="row form-creat__half-wrapp form-creat__half-wrapp_client">
                                            <div class="col-12 form-creat__half-title">
                                                <h3 class="my-3 form-creat__half-title_text">
                                                    Данные организации
                                                </h3>
                                            </div>
                                            <div class="col-12">
                                                <div class="col-6 form-creat__half">
                                                    <div role="group" class="form-group">
                                                        <label class="d-block">ИНН</label>
                                                        <span>
                                                            <input required th:name="inn" th:value="${client.inn}" id="inn" type="text"
                                                                    plaсeholder="Введите ИНН"
                                                                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                                                                    class="form-control"
                                                                    aria-describedby="item-human-passport_serial">
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-6 form-creat__half">
                                                    <div role="group" class="form-group">
                                                        <label class="d-block">КПП</label>
                                                        <span>
                                                            <input required th:name="kpp" th:value="${client.kpp}" id="kpp" type="text"
                                                                    plaсeholder="Введите КПП"
                                                                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                                                                    class="form-control"
                                                                    aria-describedby="item-human-passport_serial">
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-6 form-creat__half">
                                                    <div role="group" class="form-group">
                                                        <label class="d-block">ОГРН</label>
                                                        <span>
                                                            <input required th:name="ogrn" th:value="${client.ogrn}" id="ogrn" type="text"
                                                                    plaсeholder="Введите ОГРН"
                                                                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                                                                    class="form-control"
                                                                    aria-describedby="item-human-passport_serial">
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-6 form-creat__half">
                                                    <div role="group" class="form-group">
                                                        <label class="d-block">ФИО руководителя</label>
                                                        <span>
                                                            <input required th:name="fullNameSupervisor" th:value="${client.fullNameSupervisor}"
                                                                    id="fullNameSupervisor" type="text"
                                                                    plaсeholder="ФИО руководителя"
                                                                    class="form-control">
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-6 form-creat__half">
                                                    <div role="group" class="form-group">
                                                        <label class="d-block">Должность руководителя</label>
                                                        <span>
                                                            <input required th:name="jobTitleSupervisor" th:value="${client.jobTitleSupervisor}"
                                                                    id="jobTitleSupervisor" type="text"
                                                                    class="form-control">
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-6 form-creat__half">
                                                    <div role="group" class="form-group">
                                                        <label class="d-block">В лице</label>
                                                        <span>
                                                            <input required th:name="inFace" th:value="${client.inFace}" id="in_face" type="text"
                                                                    plaсeholder="В лице" class="form-control">
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-6 form-creat__half">
                                                    <div role="group" class="form-group">
                                                        <label class="d-block">На основании</label>
                                                        <span>
                                                            <input required th:name="based" th:value="${client.based}" id="based" type="text"
                                                                    plaсeholder="На основании"
                                                                    class="form-control">
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-6 form-creat__half">
                                                    <div role="group" class="form-group">
                                                        <label class="d-block">Р/с</label>
                                                        <span>
                                                            <input required th:name="rs" th:value="${client.rs}" id="rs" type="text"
                                                                    plaсeholder="Введите р/с"
                                                                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                                                                    class="form-control"
                                                                    aria-describedby="item-human-passport_serial">
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-6 form-creat__half">
                                                    <div role="group" class="form-group">
                                                        <label class="d-block">Банк</label>
                                                        <span>
                                                            <input required th:name="bank" th:value="${client.bank}" id="bank" type="text"
                                                                    plaсeholder="Введите банк"
                                                                    class="form-control"
                                                                    aria-describedby="item-human-passport_serial">
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-6 form-creat__half">
                                                    <div role="group" class="form-group">
                                                        <label class="d-block">К/с</label>
                                                        <span>
                                                            <input required th:name="ks" th:value="${client.ks}" id="ks" type="text"
                                                                    plaсeholder="Введите к/с"
                                                                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                                                                    class="form-control"
                                                                    aria-describedby="item-human-passport_serial">
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-6 form-creat__half">
                                                    <div role="group" class="form-group">
                                                        <label class="d-block">БИК</label>
                                                        <span>
                                                            <input required th:name="bik" th:value="${client.bik}" id="bik" type="text"
                                                                    plaсeholder="Введите БИК"
                                                                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                                                                    class="form-control"
                                                                    aria-describedby="item-human-passport_serial">
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-6 form-creat__half">
                                                    <div class="form-group">
                                                        <label class="d-block">Дата создания</label>
                                                        <div class="vdpComponent vdpWithInput">
                                                            <input required type="date" th:name="dateCreating" th:value="${client.dateCreating}" id="dateCreating_legal" placeholder="дд.мм.гггг">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-6 form-creat__half">
                                                    <div class="form-group">
                                                        <p>Загрузите ваши фотографии на сервер</p>
                                                        <p>
                                                            <textarea th:value="${client.photos}" th:text="${client.photos}" name="photos" class="form-control" id="photos_legal" style="height: 40px;"></textarea>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-4 mb-4 col-4 save-btn">
                                    <button type="submit" id="save_client"
                                            class="btn btn-lg btn-primary btn-primary_save w-100">
                                        <i class="fa fa-shopping-cart">
                                        </i>
                                        Сохранить
                                    </button>
                                </div>
                                <div id="edit_buttons" class="btn-pimary__groups-wrapper btn-pimary__groups-wrapper_client mb-3 ">
                                    <div class="mb-3 text-right">
                                        <input type="text" hidden="hidden" id="client_id" th:value="${client.getId()}">
                                        <input class="btn btn-primary min-width-120 green" type="submit" id="update_client" th:value="Обновить">
                                    </div>
                                    <div class="mb-3 text-right">
                                        <form th:action="@{/clients/delete/{id}(id=${client.getId()})}" th:method="post">
                                        <input class="btn btn-primary min-width-120 red" type="submit" id="delete_client" th:value="Удалить">
                                        </form>
                                    </div>
                                </div>

                                <div class="col-12" sec:authorize="hasAuthority('ADMIN')">
                                    <div class="form-creat__itog mb-3">
                                        <h3 class="form-creat__itog-title form-creat__itog-title_text" th:value="${client.rented}">Арендовал на
                                            сумму</h3>
                                        <div class="project__all-data all-data_input">
                                            <span type="text" class="vdatetime-input form-control span-input"></span>
                                        </div>
                                    </div>
                                </div>
                                <script th:inline="javascript">
                                    var typeClient = [[${client.typeClient}]];
                                    if(typeClient !== null)
                                    {
                                        $('#save_client').css("display","none");
                                        if(typeClient === 'INDIVIDUAL') {
                                            $('#individual').css("display", "block");
                                            $('#legal').css("display", "none");
                                        }
                                        else
                                        {
                                            $('#individual').css("display", "none");
                                            $('#legal').css("display", "block");
                                        }
                                    }
                                    else
                                    {
                                        $('#edit_buttons').css("display","none");
                                    }
                                </script>
                            </div>

                            <div class="btn-pimary__groups mt-3 mb-3">
                                <div class="btn-pimary__groups-wrapper vidacha-sozdach mb-3">
                                    <div class="mb-3 text-right">
                                        <span class="btn-pimary__groups_title">История</span>
                                    </div>
                                    <div class="mb-3 text-right">
                                        <a href="#" class="btn btn-primary min-width-120 green">Обновить</a>
                                    </div>
                                    <div class="mb-3 text-right">
                                        <a href="#" class="btn btn-primary min-width-120 grey">Экспорт</a>
                                    </div>
                                </div>
                            </div>
                            <div class="table__info table__vidacha-sozdat_wrapp mb-3">
                                <div class="table__vidacha-sozdat">
                                    <table class="in4dr-form">
                                        <tr>
                                            <th>Проект</th>
                                            <th>Клиент</th>
                                            <th>Телефон</th>
                                            <th>Начало аренды</th>
                                            <th>Окончание аренды</th>
                                            <th>Дата и время создания</th>
                                            <th>Сотрудник</th>
                                            <th>Примечание</th>
                                            <th>Фотографии отгрузки</th>
                                        </tr>
                                        <tr>
                                            <td class="column-table"></td>
                                            <td>Будут данные</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="pagination-control col-lg-12 order-lg-1">
                                <!-- Bootstrap 4 -->
                                <nav aria-label="Навигация по страницам">
                                    <ul class="pagination">
                                        <li class="page-item disabled">
                                            <a class="page-link-m page-link" href="#">
                                                Первая
                                            </a>
                                        </li>
                                        <li class="page-item disabled">
                                            <a class="page-link-m page-link" href="#" aria-label="Предыдущая">
                                                <span aria-hidden="true">«</span>
                                                <span class="sr-only">Предыдущая</span>
                                            </a>
                                        </li>
                                        <li class="page-item active">
                                            <a class="page-link-m page-link" href="#">1</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link-m page-link" href="#">2</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link-m page-link" href="#">3</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link-m page-link" href="#" aria-label="Следующая">
                                                <span aria-hidden="true">»</span>
                                                <span class="sr-only">Следующая</span>
                                            </a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link-m page-link" href="#">
                                                Последняя
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </main>
                    <div th:insert="fragments/footer.html"></div>
                </div>
            </div>
        </div>
    </div>
    <div th:insert="fragments/scripts.html"></div>
    <div><script src="/static/js/changeTypeClients.js" th:src="@{/js/changeTypeClients.js}"></script></div>
</body>
</html>