<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head class="head">
    <title>Ассоциативный массив</title>
    <div th:replace="fragments/head :: header"></div>
</head>

<body class="fixed-sidebar pace-done fixed-nav fixed-nav-basic curent-page">
<div class="b-overlay-wrap position-relative w-100" size="sm" id="wrapper">
    <div class="b-overlay-wrap position-relative w-100" size="sm" id="wrapper">
        <div th:insert="fragments/menu_sidebar.html"></div>
        <div class="b-overlay-wrap position-relative w-100" size="sm">
            <div class="rih-page-wrapper">
                <nav data-v-59295fda="" role="navigation" class="navbar navbar-admin navbar-fixed-top"
                     th:insert="fragments/header_logout.html"></nav>
                <main class="wrapper wrapper-content border-bottom">
                    <div class="b-overlay-wrap position-relative">
                        <div class="btn-pimary__groups mt-3 mb-3">
                            <div class="btn-pimary__groups-wrapper vidacha-sozdach mb-3">
                                <div class="mb-3 text-right">
                                    <span class="btn-pimary__groups_title">Ассоциативный массив</span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <form th:action="@{/estimate-name}" method="post" th:object="${estimateName}">
                            <div class="bg-white p-3 col-8 col-md-12 col-sm-6 edit-container">
                                <div class="row form-creat__half-wrapp">
                                    <div class=" form-creat__half_two-column col-12">
                                        <div role="group col-12" class="form-group">
                                            <label class="d-block font">Наименование в смете</label>
                                            <div class="vdpComponent vdpWithInput">
                                                <input required="" type="text" th:field="*{name}"
                                                       placeholder="Наименование в смете">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-creat__half-wrapp">
                                    <div class="form-creat__half_two-column">
                                        <div role="group" class="form-group">
                                            <label class="d-block font">Группа</label>
                                            <select id="select_category_tool" th:field="*{categoryTools}"
                                                    class="vs__selected-options main-secect__opions form-control">
                                                <option class="vs__selected vs__dropdown-toggle"
                                                        value="" disabled>Выберите группу оборудования
                                                </option>
                                                <option class="vs__selected vs__dropdown-toggle"
                                                        th:each="type : ${T(wns.constants.CategoryTools).values()}"
                                                        th:value="${type}"
                                                        th:text="${type.getData()}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <div class="mt-4 mb-4 col-6 save-btn">
                                    <div class="mt-4 mb-4 col-6 save-btn">
                                        <div class="mb-3 text-right">
                                            <button type="submit"
                                                    class="btn btn-primary width btn-add_vidacha green">Сохранить
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <!--<div class="btn__under-table_wrapp col-6 order-lg-1">
                            <div class="btn__under-table">
                                <div data-v-e551daac="" class="mb-3 text-right">
                                    <a data-v-e551daac="" href="#"
                                       class="btn btn-primary width-primary btn-add_vidacha grey">Единый список</a>
                                </div>
                                <div data-v-e551daac="" class="mb-3 text-right">
                                    <a data-v-e551daac="" href="#"
                                       class="btn btn-primary width-primary btn-open_vidacha  grey">Просмотр по
                                        группам</a>
                                </div>
                                <div data-v-e551daac="" class="mb-3 text-right">
                                    <a data-v-e551daac="" href="#"
                                       class="btn btn-primary width-primary btn-delate_vidacha grey">Просмотр по
                                        разделам сметы</a>
                                </div>
                                <div data-v-e551daac="" class="mb-3 text-right">
                                    <a data-v-e551daac="" href="#"
                                       class="btn btn-primary width-primary btn-update_vidacha  grey">Сбросить
                                        фильтр</a>
                                </div>
                            </div>
                        </div>-->

                        <div class="custom-ll__table table-responsive">
                            <table class="table delivery w-table h-table in4dr-form">
                                <thead>
                                <tr class="text-center">
                                    <th class="first-th">#</th>
                                    <th>Наименование в смете</th>
                                    <th>Группа</th>
                                </tr>
                                </thead>
                                <tbody class="text-center">
                                <tr th:each="estimate : ${list_estimates}">
                                    <td class="column-table">
                                        <div class="column-table_checkbox-wrapp " id="ids_tools">
                                            <input class="column-table_checkbox choose_tool ids" type="checkbox">
                                            <input type="hidden" class="id_tool" th:value="${estimate.id}">
                                            <span class="tools-td-text table-td-text column-table_checkbox-number tool_id"
                                                  th:utext="${estimateStat.index+1}"></span>
                                        </div>
                                    </td>
                                    <td data-label="Наименование в смете" class="align-middle">
                                        <a class="nav-link" style="font-size: medium" th:utext="${estimate.name}" th:href="@{/estimate-name/edit/{id}/(id=${estimate.id})}"></a>
                                    </td>
                                    <td data-label="Группа" class="align-middle">
                                        <h1 class="display-6" style="font-size: medium" th:utext="${estimate.categoryTools}"  ></h1>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="pagination-control col-lg-12 order-lg-1">
                        <nav aria-label="Навигация по страницам">
                            <ul class="pagination">
                                <li class="page-item" th:if="${list_estimates.totalPages > 0}"
                                    th:each="page_number : ${page_numbers}">
                                    <a class="page-link-m page-link"
                                       th:href="@{/estimate-name(size=${list_estimates.size}, page=${page_numberStat.index})}"
                                       th:text="${page_numberStat.index}"
                                       th:class="${page_number==list_estimates.number + 1} ? active"></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </main>
                <div th:insert="fragments/footer.html"></div>
            </div>
        </div>
    </div>
</div>
<div th:insert="fragments/scripts.html"></div>
</body>
</html>