<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head class="head">
    <title>Ассоциативный массив</title>
    <div th:replace="fragments/head :: header"></div>
</head>

<body class="fixed-sidebar pace-done fixed-nav fixed-nav-basic curent-page">
<div class="b-overlay-wrap position-relative w-100" size="sm" id="wrapper">
    <div class="b-overlay-wrap position-relative w-100" size="sm" id="wrapper">
        <div th:insert="fragments/menu_sidebar.html"></div>
        <div class="b-overlay-wrap position-relative w-100" size="sm">
            <div class="rih-page-wrapper">
                <nav data-v-59295fda="" role="navigation" class="navbar navbar-admin navbar-fixed-top"
                     th:insert="fragments/header_logout.html"></nav>
                <main class="wrapper wrapper-content border-bottom">
                    <div class="b-overlay-wrap position-relative">
                        <div class="btn-pimary__groups mt-3 mb-3">
                            <div class="btn-pimary__groups-wrapper vidacha-sozdach mb-3">
                                <div class="mb-3 text-right">
                                    <span class="btn-pimary__groups_title">Ассоциативный массив</span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="bg-white p-3 col-8 col-md-12 col-sm-6 edit-container">
                                <div class="row form-creat__half-wrapp">
                                    <div class=" form-creat__half_two-column col-12">
                                        <div role="group col-12" class="form-group">
                                            <label class="d-block font">Наименование в смете</label>
                                            <div class="vdpComponent vdpWithInput">
                                                <input required="" type="text"
                                                       placeholder="Наименование в смете">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-creat__half-wrapp">
                                    <div class="form-creat__half_two-column">
                                        <div role="group" class="form-group">
                                            <label class="d-block font">Группа</label>
                                            <select id="select_category_tool"
                                                    class="vs__selected-options main-secect__opions form-control">
                                                <option class="vs__selected vs__dropdown-toggle"
                                                        value="" disabled>Выберите группу оборудования
                                                </option>
                                                <option class="vs__selected vs__dropdown-toggle"
                                                        th:each="type : ${T(wns.constants.CategoryTools).values()}"
                                                        th:value="${type}"
                                                        th:text="${type.getData()}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-4 mb-4 col-6 save-btn">
                            <button type="submit"
                                    class="btn btn-lg btn-primary btn-primary_save w-100">
                                <svg class="svg-inline--fa fa-shopping-cart fa-w-18" aria-hidden="true"
                                     focusable="false" data-prefix="fa" data-icon="shopping-cart" role="img"
                                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg="">
                                    <path fill="currentColor"
                                          d="M528.12 301.319l47.273-208C578.806 78.301 567.391 64 551.99 64H159.208l-9.166-44.81C147.758 8.021 137.93 0 126.529 0H24C10.745 0 0 10.745 0 24v16c0 13.255 10.745 24 24 24h69.883l70.248 343.435C147.325 417.1 136 435.222 136 456c0 30.928 25.072 56 56 56s56-25.072 56-56c0-15.674-6.447-29.835-16.824-40h209.647C430.447 426.165 424 440.326 424 456c0 30.928 25.072 56 56 56s56-25.072 56-56c0-22.172-12.888-41.332-31.579-50.405l5.517-24.276c3.413-15.018-8.002-29.319-23.403-29.319H218.117l-6.545-32h293.145c11.206 0 20.92-7.754 23.403-18.681z"></path>
                                </svg>
                                Сохранить
                            </button>
                        </div>
                        <!--<div class="btn__under-table_wrapp col-6 order-lg-1">
                            <div class="btn__under-table">
                                <div data-v-e551daac="" class="mb-3 text-right">
                                    <a data-v-e551daac="" href="#"
                                       class="btn btn-primary width-primary btn-add_vidacha grey">Единый список</a>
                                </div>
                                <div data-v-e551daac="" class="mb-3 text-right">
                                    <a data-v-e551daac="" href="#"
                                       class="btn btn-primary width-primary btn-open_vidacha  grey">Просмотр по
                                        группам</a>
                                </div>
                                <div data-v-e551daac="" class="mb-3 text-right">
                                    <a data-v-e551daac="" href="#"
                                       class="btn btn-primary width-primary btn-delate_vidacha grey">Просмотр по
                                        разделам сметы</a>
                                </div>
                                <div data-v-e551daac="" class="mb-3 text-right">
                                    <a data-v-e551daac="" href="#"
                                       class="btn btn-primary width-primary btn-update_vidacha  grey">Сбросить
                                        фильтр</a>
                                </div>
                            </div>
                        </div>-->

                        <div class="custom-ll__table table-responsive">
                            <table class="table delivery w-table h-table in4dr-form">
                                <thead>
                                <tr class="text-center">
                                    <th class="first-th">#</th>
                                    <th>Наименование в смете</th>
                                    <th>Наименование оборудования</th>
                                    <th>Группа</th>
                                </tr>
                                </thead>
                                <tbody class="text-center">
                                <tr th:each="tool : ${list_tools}">
                                    <td class="column-table">
                                        <div class="column-table_checkbox-wrapp " id="ids_tools">
                                            <input class="column-table_checkbox choose_tool ids" type="checkbox">
                                            <input type="hidden" class="id_tool" th:value="${tool.id}">
                                            <span class="tools-td-text table-td-text column-table_checkbox-number tool_id"
                                                  th:utext="${toolStat.index+1}"></span>
                                        </div>
                                    </td>
                                    <td data-label="Наименование в смете" class="align-middle"><a class="nav-link"
                                                                                                  style="font-size: medium"
                                                                                                  th:utext="${tool.estimateName}"
                                                                                                  th:href="@{/estimate-name/edit/{id}/(id=${tool.id_estimate_name})}"></a>
                                    </td>
                                    <td data-label="Наименование оборудования" class="align-middle">
                                        <a class="nav-link"
                                           style="font-size: medium"
                                           th:utext="${tool.name}"></a></td>
                                    <td data-label="Группа" class="align-middle"><h1 class="display-6"
                                                                                     style="font-size: medium"
                                                                                     th:utext="${tool.categoryToolsFromEstimate}"></h1>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="pagination-control col-lg-12 order-lg-1">
                        <nav aria-label="Навигация по страницам">
                            <ul class="pagination">
                                <li class="page-item" th:if="${list_tools.totalPages > 0}"
                                    th:each="page_number : ${page_numbers}">
                                    <a class="page-link-m page-link"
                                       th:href="@{/tools(size=${list_tools.size}, page=${page_numberStat.index})}"
                                       th:text="${page_numberStat.index}"
                                       th:class="${page_number==list_tools.number + 1} ? active"></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </main>
                <div th:insert="fragments/footer.html"></div>
            </div>
        </div>
    </div>
</div>
<div th:insert="fragments/scripts.html"></div>
</body>
</html>