<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">

<head class="head">
    <title>Редактирование проекта</title>
    <div th:replace="fragments/head :: header"></div>
</head>

<body class="fixed-sidebar pace-done fixed-nav fixed-nav-basic curent-page">
<div class="b-overlay-wrap position-relative w-100" size="sm" id="wrapper">
    <div class="b-overlay-wrap position-relative w-100" size="sm" id="wrapper">
        <div th:insert="fragments/menu_sidebar.html"></div>
        <div class="b-overlay-wrap position-relative w-100" size="sm">
            <div class="rih-page-wrapper">
                <nav  role="navigation" class="navbar navbar-admin navbar-fixed-top" th:insert="fragments/header_logout.html"></nav>
                <main class="wrapper wrapper-content border-bottom">
                    <div class="b-overlay-wrap position-relative" size="sm">
                        <div class="project__creat mb-3">
                            <div class="btn-pimary__groups-wrapper vidacha-sozdach mb-3 vidacha-sozdach">
                                <div class="mb-3 text-right">
                                    <span class="btn-pimary__groups_title">Проект</span>
                                </div>
                                <div class="mb-3 text-right">
                                    <a href="#" class="btn btn-primary min-width-120 light-blue">Назад</a>
                                </div>
                                <div class="mb-3 text-right">
                                    <a href="#" class="btn btn-primary min-width-120 green">Сохранить</a>
                                </div>
                                <div class="mb-3 text-right">
                                    <a href="#" class="btn btn-primary min-width-120 orange">Обновить</a>
                                </div>
                                <div class="mb-3 text-right">
                                    <a href="#" class="btn btn-primary min-width-120 light-blue">Журнал</a>
                                </div>
                                <div class="mb-3 text-right">
                                    <a href="#" class="btn btn-primary min-width-120 grey">Документы</a>
                                </div>
                                <div class="mb-3 text-right">
                                    <a href="#" class="btn btn-primary min-width-120 orange">Выдать
                                        оборудование</a>
                                </div>
                                <div class="mb-3 text-right">
                                    <a href="#" class="btn btn-primary min-width-120 light-blue">Единая
                                        система</a>
                                </div>
                            </div>

                            <form th:action="@{/projects/create}" method="post" th:object="${project}">
                                <div class="bg-white p-3 edit-container">
                                    <div class="row form-creat__half-wrapp">
                                        <div class=" form-creat__half_two-column">
                                            <div role="group" class="form-group">
                                                <label class="d-block">Статус</label>
                                                <select id="select_status_project" th:field="*{status}"
                                                        th:value="${project.status}" name="status_tool"
                                                        class="vs__selected-options main-secect__opions form-control">
                                                    <option class="vs__selected vs__dropdown-toggle" value=""
                                                            disabled="">Выберите статус проекта
                                                    </option>
                                                    <option class="vs__selected vs__dropdown-toggle"
                                                            th:each="status: ${T(wns.constants.StatusProject).values()}"
                                                            th:value="${status}"
                                                            th:text="${status.getStatus()}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-creat__half_two-column">
                                            <div role="group" class="form-group">
                                                <label class="d-block">Наименование</label>
                                                <span>
                                                    <input id="name_project" th:field="*{name}" th:value="${project.name}" required="" name="fromComing" type="text" class="form-control" placeholder="Имя проекта">
                                                </span>
                                            </div>
                                        </div>
                                        <div class=" form-creat__half_two-column">
                                            <div role="group" class="form-group">
                                                <label class="d-block">Начало</label>
                                                <div class="vdpComponent vdpWithInput">
                                                    <input id="date_start" th:field="*{start}"
                                                           th:value="${project.start}" class="form-control"
                                                           type="datetime-local" placeholder="дд.мм.гггг">
                                                </div>
                                            </div>
                                        </div>
                                        <div class=" form-creat__half_two-column">
                                            <div role="group" class="form-group">
                                                <label class="d-block">Окончание</label>
                                                <div class="vdpComponent vdpWithInput">
                                                    <input id="date_end" th:field="*{end}" th:value="${project.end}"
                                                           class="form-control" type="datetime-local"
                                                           placeholder="дд.мм.гггг">
                                                </div>
                                            </div>
                                        </div>
                                        <div class=" form-creat__half_two-column">
                                            <div class="form-group">
                                                <label class="d-block">Укажите ссылки на фото через запятую</label>
                                                <textarea id="photos" th:field="*{photos}" th:value="${project.photos}"
                                                          name="photos" class="form-control"
                                                          style="height: 40px;"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-creat__half-wrapp">
                                        <div class=" form-creat__half_two-column">
                                            <div role="group" class="form-group">
                                                <label class="d-block">Тип аренды</label>
                                                <select class="vs__selected-options main-secect__opions form-control"
                                                        id="type" th:field="*{typeLease}"
                                                        th:value="${project.typeLease}">
                                                    <option class="vs__selected vs__dropdown-toggle"
                                                            th:each="type: ${T(wns.constants.TypeLease).values()}"
                                                            th:value="${type}" th:text="${type.getType()}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class=" form-creat__half_two-column">
                                            <div role="group" class="form-group">
                                                <label class="d-block">Класс</label>
                                                <select class="vs__selected-options main-secect__opions form-control"
                                                        id="classification" th:field="*{classification}"
                                                        th:value="${project.classification}">
                                                    <option class="vs__selected vs__dropdown-toggle"
                                                            th:each="classification: ${T(wns.constants.ClassificationProject).values()}"
                                                            th:value="${classification}"
                                                            th:text="${classification.getValue()}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class=" form-creat__half_two-column">
                                            <div role="group" class="form-group">
                                                <label class="d-block">Создан</label>
                                                <div class="vdpComponent vdpWithInput">
                                                    <input id="created" th:field="*{created}"
                                                           th:value="${project.created}" class="form-control"
                                                           type="datetime-local" placeholder="дд.мм.гггг">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-creat__half_two-column">
                                            <div class="mb-3 rent__client__buttons">
                                                <span class="d-inline-block label-name ">
                                                    Укажите клиента
                                                </span>
                                                <a href="/clients" title="Добавить Клиентa" class="btn btn-primary min-width-120 btn-xs">Новый клиент
                                                </a>
                                            </div>
                                            <select id="client" th:field="*{client}"
                                                    th:value="${project.client.getId()}" required
                                                    class="vs__selected-options main-secect__opions form-control executor">
                                                <option class="vs__selected vs__dropdown-toggle" value="" disabled>
                                                    Выберите клиента
                                                </option>
                                                <option class="vs__selected vs__dropdown-toggle"
                                                        th:each="client : ${clients}" th:value="${client.id}"
                                                        th:text="${client.fullName}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-creat__half_two-column">
                                        <div class="form-group">
                                            <label class="d-block">Примечание</label>
                                            <textarea id="note" th:field="*{note}" th:value="${project.note}" name="" class="form-control" rows="4"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="bg-white p-3 edit-container">
                                    <div class="row form-creat__half-wrapp">
                                        <div class=" form-creat__half_two-column">
                                            <div role="group" class="form-group">
                                                <label class="d-block">Итоговая сумма</label>
                                                <span>
                                                    <input id="sum" th:field="*{sum}" th:value="${project.sum}"
                                                           type="text" class="form-control" placeholder=""
                                                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g,'$1');">
                                                </span>
                                            </div>
                                        </div>
                                        <div class=" form-creat__half_two-column">
                                            <div role="group" class="form-group">
                                                <label class="d-block">Себестоимость оборудования</label>
                                                <span>
                                                    <input id="priceTools" th:field="*{priceTools}"
                                                           th:value="${project.priceTools}" type="text"
                                                           class="form-control" placeholder=""
                                                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g,'$1');">
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-creat__half_two-column">
                                            <div role="group" class="form-group">
                                                <label class="d-block">Скидка на проект</label>
                                                <span>
                                                    <input id="discountByProject" th:field="*{discountByProject}"
                                                           th:value="${project.discountByProject}" type="text"
                                                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g,'$1');" class="form-control" placeholder="">
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-creat__half_two-column">
                                            <div role="group" class="form-group">
                                                <label class="d-block">Сумма со скидкой</label>
                                                <span>
                                                    <input id="sumWithDiscount" th:field="*{sumWithDiscount}"
                                                           th:value="${project.sumWithDiscount}" type="text"
                                                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g,'$1');" class="form-control" placeholder="">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-creat__half-wrapp">
                                        <div class="form-creat__half_two-column">
                                            <div role="group" class="form-group">
                                                <label class="d-block">Итоговая УСН</label>
                                                <span>
                                                    <input id="finalSumUsn" th:field="*{finalSumUsn}"
                                                           th:value="${project.finalSumUsn}" type="text"
                                                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g,'$1');"
                                                           class="form-control" placeholder="">
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-creat__half_two-column">
                                            <div role="group" class="form-group">
                                                <label class="d-block">Стоимость работ</label>
                                                <span>
                                                    <input id="priceWork" th:field="*{priceWork}"
                                                           th:value="${project.priceWork}" type="text"
                                                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g,'$1');" class="form-control" placeholder="">
                                                </span>
                                            </div>
                                        </div>
                                        <div class=" form-creat__half_two-column">
                                            <div role="group" class="form-group">
                                                <label class="d-block">Оплачено</label>
                                                <span>
                                                    <input id="received" th:field="*{received}" th:value="${project.received}" type="text" class="form-control" placeholder="">
                                                </span>
                                            </div>
                                        </div>
                                        <div class=" form-creat__half_two-column">
                                            <div role="group" class="form-group">
                                                <label class="d-block">Расчет неоплаченного остатка</label>
                                                <span>
                                                    <input id="remainder" th:field="*{remainder}"
                                                           th:value="${project.remainder}" type="text" class="form-control" placeholder="">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn-pimary__groups mt-3 mb-3">
                                    <div class="btn-pimary__groups-wrapper mb-3">
                                        <div class="mb-3 text-right">
                                            <span class="btn-pimary__groups_title">Действия</span>
                                        </div>
                                        <div class="mb-3 text-right">
                                            <button type="submit" class="btn btn-primary min-width-120 orange">Обновить
                                                проект
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="btn-pimary__groups-wrapper mb-3 order-lg-1">
                                    <div class="btn__under-table">
                                        <div class="mb-3 text-right">
                                            <a href="#" class="btn btn-primary min-width-120 grey">Единый список</a>
                                        </div>
                                        <div class="mb-3 text-right">
                                            <a href="#" class="btn btn-primary min-width-120 grey">Просмотр по группам</a>
                                        </div>
                                        <div class="mb-3 text-right">
                                            <a href="#" class="btn btn-primary min-width-120 grey">Просмотр по разделам сметы</a>
                                        </div>
                                        <div class="mb-3 text-right">
                                            <a href="#" class="btn btn-primary min-width-120 grey">Сбросить фильтр</a>
                                        </div>
                                        <div class="custom-ll__header custom-ll__header-zipcode custom-ll__header-zipcode_project">
                                            <div class="custom-ll__header__full show">
                                                <div class="custom-ll__header__full__right">
                                                    <div class="custom-ll__header-wrapp">
                                                        <div class="header__search header__search_width zip-cod__input-width">
                                                            <input id="barcode_search_input" type="search"
                                                                   name="barcode" placeholder="Введите штрих код"
                                                                   class="form-control">
                                                            <span class="header__search__btn"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="table__info table__vidacha-sozdat_wrapp mb-3">
                                    <div class="table__vidacha-sozdat">
                                        <table class="in4dr-form">
                                            <tr>
                                                <th class="first-th">#</th>
                                                <th>Наименование</th>
                                                <th>Штрихкод</th>
                                                <th>Группа</th>
                                                <th>Марка/Модель</th>
                                                <th>Серийный номер</th>
                                                <th>Коментарий</th>
                                                <th>Характеристики</th>
                                                <th>Состояние</th>
                                                <th>Цена</th>
                                                <th>Себестоимость</th>
                                                <th>Комплект</th>
                                            </tr>
                                            <tr th:each="tool : ${project.tools}" class="row-tool">
                                                <td class="column-table">
                                                    <div class="column-table_checkbox-wrapp">
                                                        <input class="column-table_checkbox choose_tool" type="checkbox">
                                                        <input class="id_tool" type="text" th:value="${tool.id}" hidden="hidden">
                                                        <span
                                                                class="tools-td-text table-td-text column-table_checkbox-number tool_id"
                                                                th:utext="${toolStat.index+1}">
                                                        </span>
                                                    </div>
                                                </td>
                                                <td th:utext="${tool.name}"></td>
                                                <td class="barcode-tool" th:utext="${tool.barcode}"></td>
                                                <td th:utext="${tool.category.getData()}"></td>
                                                <td th:utext="${tool.model}"></td>
                                                <td th:utext="${tool.serialNumber}"></td>
                                                <td th:utext="${tool.comment}"></td>
                                                <td th:utext="${tool.characteristics}"></td>
                                                <td th:utext="${tool.state}"></td>
                                                <td class="price-tool" th:utext="${tool.costPrice}"></td>
                                                <td th:utext="${tool.priceSell}"></td>
                                                <td th:utext="${tool.equip}"></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </form>
                            <!-- Tab content -->
                            <div class="tabcontent mb-3">
                                <div class="project__creat">
                                    <div class="wrapper__btn-primary vidacha-sozdach">
                                        <div class="mb-3 text-right">
                                            <span class="btn-pimary__groups_title">Действия с оборудованием</span>
                                        </div>
                                        <a style="display: inline-flex; margin-right: 10px;" th:href="@{/tools/add-tool-to-project/{id}/(id=${project.id})}">
                                            <div >
                                                <input type="submit" class="btn btn-primary min-width-120 light-blue" value="Добавить">
                                            </div>
                                        </a>
                                        <div style="display: inline-flex; margin-right: 10px;">
                                            <input id="replaceBtn" type="submit" class="btn btn-primary min-width-120 light-blue" value="Заменить">
                                        </div>
                                        <div style="display: inline-flex; margin-right: 10px;">
                                            <input id="removeBtn" type="submit" class="btn btn-primary min-width-120 light-blue" value="Удалить">
                                        </div>
                                        <div style="display: inline-flex; margin-right: 10px;">
                                            <input id="replaceBtnOther" type="submit" class="btn btn-primary min-width-120 light-blue" value="Добавить оборудование из другого проекта">
                                        </div>
                                    
                                    </div>
                                </div>
                            </div>

                            <div class="pagination-control col-lg-12 order-lg-1">
                                <!-- Bootstrap 4 -->
                                <nav aria-label="Навигация по страницам">
                                    <ul class="pagination">
                                        <li class="page-item disabled">
                                            <a class="page-link-m page-link" href="#">
                                                Первая
                                            </a>
                                        </li>
                                        <li class="page-item disabled">
                                            <a class="page-link-m page-link" href="#" aria-label="Предыдущая">
                                                <span aria-hidden="true">«</span>
                                                <span class="sr-only">Предыдущая</span>
                                            </a>
                                        </li>
                                        <li class="page-item" th:if="${project.tools.totalPages > 0}"
                                            th:each="page_number : ${page_numbers}">
                                            <a class="page-link-m page-link"
                                               th:href="@{/projects/edit(size=${project.tools.size}, page=${page_numberStat.index})}"
                                               th:text="${page_numberStat.index}"
                                               th:class="${page_number==project.tools.number + 1} ? active"></a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link-m page-link" aria-label="Следующая">
                                                <span aria-hidden="true">»</span>
                                                <span class="sr-only">Следующая</span>
                                            </a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link-m page-link" href="#">
                                                Последняя
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>

                        </div>
                    </div>
                </main>
                <div th:insert="fragments/footer.html"></div>
            </div>
        </div>
    </div>
</div>
<div th:insert="fragments/scripts.html"></div>
<div>
    <script src="/static/js/TotalCounter.js" th:src="@{/js/TotalCounter.js}"></script>
</div>
<div>
    <script src="/static/js/SearchBarcode.js" th:src="@{/js/SearchBarcode.js}"></script>
</div>
</body>
</html>