<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>Проекты</title>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{/img/logo/favicon.ico}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/projects.css}">
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <!--JQuery-->
    <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
    <!-- jQuery Modal -->
    <script type="text/javascript" th:src="@{/js/jquery.modal.js}"></script>
    <link rel="stylesheet" th:href="@{/css/jquery.modal.css}"/>
</head>

<body>
<div class="projects_wrapper d-flex">
    <div class="projects_wrapper__main d-flex">
        <div th:replace="fragments/menu_sidebar.html"></div>
        <div class="main_general d-flex">
            <div class="main_general__content d-flex">
                <div class="main_general__content_buttons d-flex f-size_14 pad-0_3">
                    <a href="/projects/create" class="content_buttons__create d-flex">
                        Создать
                    </a>
                    <button type="submit" class="content_buttons__delete d-flex" id="btn_delete_project" onclick="checker()" name="delete">
                        Удалить
                    </button>
                    <script type="text/javascript">
                        function checker() {

                        }
                    </script>
                </div>
                <div class="main_general__content_search d-flex pad-0_3">
                    <input id="barcode_search_input" name="barcode"
                           class="content_search__input f-size_14" type="search" placeholder="Поиск">
                </div>
                <div class="main_general__content_filters d-flex f-size_14 pad-0_3">
                    <a href="/" class="content_filters__buttons d-flex">
                        Все
                    </a>
                    <a href="/?filter=ONE_TIME" class="content_filters__buttons d-flex">
                        Разовые
                    </a>
                    <a href="/?filter=LONG" class="content_filters__buttons d-flex">
                        Длинный
                    </a>
                    <a href="/?filter=SUBLEASE_PROJECT" class="content_filters__buttons d-flex">
                        Субаренда
                    </a>
                    <a href="/?filter=TEST" class="content_filters__buttons d-flex">
                        Тест
                    </a>
                </div>
                <div class="main_general__content_table d-flex pad-0_3">
                    <table class="content_table__info">
                        <tr class="content_table__info_name">
                            <th class="content_table__info_pos">#</th>
                            <th class="content_table__info_pos">Проект</th>
                            <th class="content_table__info_pos">Статус</th>
                            <th class="content_table__info_pos">Контакт</th>
                            <th class="content_table__info_pos">Телефон</th>
                            <th class="content_table__info_pos">Начало аренды</th>
                            <th class="content_table__info_pos">Окончание аренды</th>
                            <th class="content_table__info_pos">Дата и время создания</th>
                            <th class="content_table__info_pos">Сотрудник</th>
                            <th class="content_table__info_pos">Примечание</th>
                            <th class="content_table__info_pos">Тип</th>
                            <th class="content_table__info_pos">Открыть смету</th>
                        </tr>
                        <tr class="content_table__info_line" th:each="project : ${list_projects}">
                            <td class="content_table__info_column">
                                <input class="column-table_checkbox ids"
                                       type="checkbox"/ name="toDel">
                                <input type="text" hidden="hidden"
                                       th:value="${project.id}"/>
                            </td>
                            <td class="content_table__info_column barcode-tool">
                                <a th:href="@{/projects/edit/{id}/(id=${project.getId()})}"
                                   th:utext="${project.name}"
                                   title="Редактирование проекта"></a>
                            </td>
                            <td class="content_table__info_column">
                                <span class="tool_status" th:utext="${project.status_value}"></span>
                                <input type="text" hidden="hidden"
                                       th:value="${project.status}"/></td>
                            <td class="content_table__info_column" th:utext="${project.client_name}"></td>
                            <td class="content_table__info_column" th:utext="${project.phoneNumber}"></td>
                            <td class="content_table__info_column"
                                th:utext="${#temporals.format(project.start, 'dd-MM-yyyy HH:mm')}"></td>
                            <td class="content_table__info_column"
                                th:text="${#temporals.format(project.end, 'dd-MM-yyyy HH:mm')}"></td>
                            <td class="content_table__info_column"
                                th:utext="${#temporals.format(project.created, 'dd-MM-yyyy HH:mm')}"></td>
                            <td class="content_table__info_column" th:utext="${project.employee}"></td>
                            <td class="content_table__info_column" th:utext="${project.note}"></td>
                            <td class="content_table__info_column" th:utext="${project.classification.getValue()}"></td>
                            <td class="content_table__info_column">
                                <a th:href="@{/estimate/create/{id}(id=${project.getId()})}"
                                   title="Просмотр/редактирование сметы">Смета</a>
                            </td>
                        </tr>
                    </table>

                    <div class="pagination-control col-lg-12 order-lg-1">
                        <!-- Bootstrap 4 -->
                        <nav aria-label="Навигация по страницам">
                            <ul class="pagination">
                                <li class="page-item" th:if="${list_projects.totalPages > 0}"
                                    th:each="page_number : ${page_numbers}">
                                    удалить <a class="page-link-m page-link"
                                               th:href="@{/(size=${list_projects.size}, page=${page_numberStat.index}, filter=${list_projects.size})}"
                                               th:text="${page_numberStat.index}"
                                               th:class="${page_number==list_projects.number + 1} ? active">
                                </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div th:insert="fragments/footer.html"></div>
            </div>
        </div>
    </div>
</div>
<div th:insert="fragments/scripts.html"></div>
</body>
</html>