<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<div th:insert="segments/header.html"></div>
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<div th:insert="segments/middle.html"></div>
<br>
<div th:if="${message!=''}">
    <div class="authorization-form__msg">
        <div class="authorization-form__err" th:text="${message}"><span></span></div>
    </div>
</div>
<form th:action="@{/registration}" method="post" th:object="${user}">
    <br>
    <label><b>Укажите логин для нового пользователя</b></label>
    <br>
    <input type="text" placeholder="Enter Username" th:name="username" required>
    <br>
    <label><b>Укажите пароль для нового пользователя</b></label>
    <br>
    <input type="password" placeholder="Enter Password" th:name="password" required>
    <br>
    <label><b>Укажите ФИО для нового пользователя</b></label>
    <br>
    <input type="text" placeholder="Enter FullName" th:name="fullName" required>
    <br>

    <p><select th:field ="*{roles}">
        <option value="" disabled>Выберите роль</option>
        <option th:each="role : ${roles}" th:value="${role}" th:text="${role}"></option>
    </select></p>
    <input name="submit" type="submit" value="submit">Зарегистрировать</input>
</form>

<div th:insert="segments/footer.html"></div>


</body>
</html>