<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">

<head class="head">
    <title>Редактирование оборудования</title>
    <div th:replace="fragments/head :: header"></div>
   
</head>

<body class="fixed-sidebar pace-done fixed-nav fixed-nav-basic curent-page">
<div class="b-overlay-wrap position-relative w-100" size="sm" id="wrapper">
    <div class="b-overlay-wrap position-relative w-100" size="sm" id="wrapper">
        <div th:insert="fragments/menu_sidebar.html"></div>
        <div class="b-overlay-wrap position-relative w-100" size="sm">
            <div class="rih-page-wrapper">
                <nav  role="navigation" class="navbar navbar-admin navbar-fixed-top" th:insert="fragments/header_logout.html"></nav>
                <main class="wrapper wrapper-content border-bottom">
                    <div class="b-overlay-wrap position-relative">
                        <div class="form-creat mb-3 col-12">
                            <div class="btn-pimary__groups-wrapper mb-3">
                                <div class="mb-3 text-right">
                                    <span class="btn-pimary__groups_title">Оборудование</span>
                                </div>
                                <div class="mb-3 text-right">
                                    <a href="/tools" class="btn btn-primary min-width-120 light-blue">Назад</a>
                                </div>
                                <div class="mb-3 text-right">
                                    <a href="#" class="btn btn-primary min-width-120 green">Сохранить</a>
                                </div>
                            </div>
                            <form th:action="@{/tools/create}" method="post">
                                <div class="bg-white p-3 edit-container d-block col-8 col-md-12">
                                    <div class="row form-creat__half-wrapp">
                                        <div class=" form-creat__half_two-column">
                                            <div role="group" class="form-group">
                                                <label class="d-block size">Наименование</label>
                                                <span>
                                                    <input id="name" th:value="${tool.name}" name="name" type="text" class="form-control" placeholder="Введите наименование">
                                                </span>
                                            </div>
                                        </div>
                                        <div class=" form-creat__half_two-column">
                                            <div role="group" class="form-group">
                                                <label class="d-block size">Вид оборудования</label>
                                                <select id="select_type_tool" th:value="${tool.typeTools}"
                                                        name="typeTools"
                                                        class="vs__selected-options main-secect__opions form-control select">
                                                    <option class="vs__selected vs__dropdown-toggle"
                                                            value="" disabled>Выберите тип оборудования
                                                    </option>
                                                    <option class="vs__selected vs__dropdown-toggle"
                                                            th:each="type : ${T(wns.constants.TypeTools).values()}"
                                                            th:value="${type}"
                                                            th:text="${type.getType()}"
                                                    >
                                                    </option>
                                                </select >
                                            </div>
                                        </div>
                                        <div class="form-creat__half_two-column" >
                                            <div role="group" class="form-group">
                                                <label class="d-block size">Наименование в смете</label>
                                                <select name="name_estimate_id"
                                                        class="vs__selected-options main-secect__opions form-control select">
                                                    <option class="vs__selected vs__dropdown-toggle"
                                                            value="" disabled>Выберите наименование
                                                    </option>
                                                    <option class="vs__selected vs__dropdown-toggle"
                                                            th:each="estimateNameDTO : ${list_names_estimate}"
                                                            th:value="${estimateNameDTO.id}"
                                                            th:text="${estimateNameDTO.name}">
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class=" form-creat__half_two-column">
                                            <div role="group" class="form-group">
                                                <label class="d-block size">Количество</label>
                                                <span>
                                                    <input id="amount" th:value="${tool.amount}" name="amount"
                                                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g,'$1');"
                                                           type="text" class="form-control"
                                                           placeholder="Введите количество">
                                                </span>
                                            </div>
                                        </div>
                                        <div class=" form-creat__half_two-column">
                                            <div role="group" class="form-group">
                                                <label class="d-block size">Штрих-код</label>
                                                <span>
                                                    <input id="barcode" th:value="${tool.barcode}" name="barcode"
                                                           type="text" class="form-control"
                                                           placeholder="Введите штрих-код">
                                                </span>
                                            </div>
                                        </div>
                                        <div class=" form-creat__half_two-column">
                                            <div role="group" class="form-group">
                                                <label class="d-block size">Модель</label>
                                                <span>
                                                    <input th:value="${tool.model}" name="model" type="text"
                                                           class="form-control" placeholder="">
                                                </span>
                                            </div>
                                        </div>
                                        <div class=" form-creat__half_two-column">
                                            <div role="group" class="form-group">
                                                <label class="d-block size">Серийный номер</label>
                                                <span>
                                                    <input th:value="${tool.serialNumber}" name="serialNumber"
                                                           type="text" class="form-control"
                                                           aria-describedby="item-human-passport_serial">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-creat__half-wrapp">
                                        <div class=" form-creat__half_two-column">
                                            <div role="group" class="form-group">
                                                <label class="d-block size">Статус</label>
                                                <select id="select_status_tool" name="status_tool"
                                                        class="vs__selected-options main-secect__opions form-control">
                                                    <option class="vs__selected vs__dropdown-toggle"
                                                            value="" disabled>Выберите статус
                                                    </option>
                                                    <option class="vs__selected vs__dropdown-toggle"
                                                            th:each="status_tool : ${T(wns.constants.StatusTools).values()}"
                                                            th:value="${status_tool}"
                                                            th:text="${status_tool.getValue()}"
                                                            th:selected="${status_tool == tool.status.statusTools}">
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class=" form-creat__half_two-column">
                                            <div role="group" class="form-group">
                                                <label class="d-block size">Характеристики</label>
                                                <span>
                                                    <input th:value="${tool.characteristics}" name="characteristics"
                                                           type="text" class="form-control" placeholder="">
                                                </span>
                                            </div>
                                        </div>
                                        <div class=" form-creat__half_two-column">
                                            <div role="group" class="form-group">
                                                <label class="d-block size">Состояние</label>
                                                <span>
                                                    <input th:value="${tool.state}" name="state" type="text"
                                                           class="form-control" placeholder="">
                                                </span>
                                            </div>
                                        </div>
                                        <div class=" form-creat__half_two-column">
                                            <div role="group" class="form-group">
                                                <label class="d-block size">Комплект</label>
                                                <span>
                                                    <input th:value="${tool.equip}" name="equip" type="text"
                                                           class="form-control" placeholder="">
                                                </span>
                                            </div>
                                        </div>
                                        <div class=" form-creat__half_two-column">
                                            <div role="group" class="form-group">
                                                <label class="d-block size">Комментарий</label>
                                                <span>
                                                    <input th:value="${tool.comment}" name="comment" type="text"
                                                           class="form-control" placeholder="">
                                                </span>
                                            </div>
                                        </div>
                                        <div class=" form-creat__half_two-column">
                                            <div class="form-group">
                                                <label class="d-block size">Дата создания</label>
                                                <div class="vdpComponent vdpWithInput">
                                                    <input th:value="${tool.creating}" name="creating" type="date"
                                                           placeholder="дд.мм.гггг">
                                                </div>
                                            </div>
                                        </div>
                                        <div class=" form-creat__half_two-column">
                                            <div class="form-group">
                                                <label class="d-block size">Загрузите ваши фотографии на сервер</label>
                                                <textarea th:value="${tool.photos}" name="photos"
                                                          class="form-control" id="note_individual"
                                                          style="height: 40px;"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="bg-white p-3 edit-container  d-block col-8 col-md-12">
                                    <div class="row form-creat__half-wrapp">
                                        <div class=" form-creat__half_two-column">
                                            <div role="group" class="form-group">
                                                <label class="d-block size">Себестоимость</label>
                                                <span>
                                                    <input th:value="${tool.costPrice}" name="costPrice" type="text"
                                                           class="form-control" placeholder=""
                                                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g,'$1');">
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-creat__half_two-column">
                                            <div role="group" class="form-group">
                                                <label class="d-block size">Цена за сутки</label>
                                                <span>
                                                    <input th:value="${tool.priceByDay}" name="priceByDay" type="text"
                                                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g,'$1');"
                                                           class="form-control"
                                                           placeholder="">
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-creat__half_two-column">
                                            <div role="group" class="form-group">
                                                <label class="d-block size">Доход с оборудования</label>
                                                <span>
                                                    <input th:value="${tool.incomeFromTools}" name="incomeFromTools"
                                                           type="text"
                                                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g,'$1');"
                                                           class="form-control"
                                                           placeholder="">
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-creat__half_two-column">
                                            <div role="group" class="form-group">
                                                <label class="d-block size">Цена продажи</label>
                                                <span>
                                                    <input th:value="${tool.priceSell}" name="priceSell" type="text"
                                                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g,'$1');"
                                                           class="form-control"
                                                           placeholder="">
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-creat__half_two-column">
                                            <div role="group" class="form-group">
                                                <label class="d-block size">Доход с продажи</label>
                                                <span>
                                                    <input th:value="${tool.incomeSales}" name="incomeSales" type="text"
                                                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g,'$1');"
                                                           class="form-control"
                                                           placeholder="">
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-creat__half_two-column">
                                            <div role="group" class="form-group">
                                                <label class="d-block size">Доход инвестора (%)</label>
                                                <span>
                                                    <input th:value="${tool.incomeInvestorProcents}"
                                                           name="incomeInvestorProcents" type="text"
                                                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g,'$1');"
                                                           class="form-control"
                                                           placeholder="">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-creat__half-wrapp">
                                        <div class="form-creat__half_two-column">
                                            <div role="group" class="form-group">
                                                <label class="d-block size">Доход инвестора</label>
                                                <span>
                                                    <input th:value="${tool.incomeInvestor}" name="incomeInvestor"
                                                           type="text"
                                                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g,'$1');"
                                                           class="form-control"
                                                           placeholder="">
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-creat__half_two-column">
                                            <div role="group" class="form-group">
                                                <label class="d-block size">Сумма ремонта</label>
                                                <span>
                                                    <input th:value="${tool.repairAmount}" name="repairAmount"
                                                           type="text"
                                                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g,'$1');"
                                                           class="form-control"
                                                           placeholder="">
                                                </span>
                                            </div>
                                        </div>
                                        <div class=" form-creat__half_two-column">
                                            <div role="group" class="form-group">
                                                <label class="d-block size">Кол-во отработанных смен</label>
                                                <span>
                                                    <input th:value="${tool.numberWorkingShifts}"
                                                           name="numberWorkingShifts" type="text"
                                                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g,'$1');"
                                                           class="form-control"
                                                           placeholder="">
                                                </span>
                                            </div>
                                        </div>
                                        <div class=" form-creat__half_two-column">
                                            <div role="group" class="form-group">
                                                <label class="d-block size">Цена на субаренду</label>
                                                <span>
                                                    <input th:value="${tool.priceSublease}" name="priceSublease"
                                                           type="text"
                                                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g,'$1');"
                                                           class="form-control"
                                                           placeholder="">
                                                </span>
                                            </div>
                                        </div>
                                        <div class=" form-creat__half_two-column">
                                            <div role="group" class="form-group">
                                                <label class="d-block size">Плата за субаренду</label>
                                                <span>
                                                    <input th:value="${tool.paymentSublease}" name="paymentSublease"
                                                           type="text"
                                                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g,'$1');"
                                                           class="form-control"
                                                           placeholder="">
                                                </span>
                                            </div>
                                        </div>
                                        <div class=" form-creat__half_two-column">
                                            <div role="group" class="form-group">
                                                <label class="d-block size">Доп.доход</label>
                                                <span>
                                                    <input th:value="${tool.incomeAdditional}" name="incomeAdditional"
                                                           type="text"
                                                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g,'$1');"
                                                           class="form-control"
                                                           placeholder="">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-4 mb-4 col-4 save-btn">
                                    <button type="submit" id="save_client"
                                            class="btn btn-lg btn-primary btn-primary_save w-100">
                                        <i class="fa fa-shopping-cart">
                                        </i>
                                        Сохранить
                                    </button>
                                </div>
                            </form>
                            <div class="btn-pimary__groups mt-3 mb-3">
                                <div class="btn-pimary__groups-wrapper vidacha-sozdach mb-3">
                                    <div class="mb-3 text-right">
                                        <span class="btn-pimary__groups_title">История</span>
                                    </div>
                                    <div class="mb-3 text-right">
                                        <a href="#" class="btn btn-primary width green">Обновить</a>
                                    </div>
                                    <div class="mb-3 text-right">
                                        <a href="#" class="btn btn-primary width grey">Экспорт</a>
                                    </div>
                                </div>
                            </div>

                            <div class="table__info table__vidacha-sozdat_wrapp mb-3">
                                <div class="table__vidacha-sozdat">
                                    <table class="in4dr-form delivery h-table w-table">
                                        <tr>
                                            <th class="first-th">Проект</th>
                                            <th>Клиент</th>
                                            <th>Телефон</th>
                                            <th>Начало аренды</th>
                                            <th>Окончание аренды</th>
                                            <th>Дата и время создания</th>
                                            <th>Сотрудник</th>
                                            <th>Примечание</th>
                                            <th>Фотографии отгрузки</th>
                                        </tr>
                                        <tr>
                                            <td data-label="Проект" class="column-table"></td>
                                            <td data-label="Клиент">Будут данные</td>
                                            <td data-label="Телефон" class="monce__tool-status"></td>
                                            <td data-label="Начало аренды">8999999999</td>
                                            <td data-label="Окончание аренды" class="monce__tool-status"></td>
                                            <td data-label="Дата и время создания" class="monce__tool-status"></td>
                                            <td data-label="Сотрудник">Фамилия Имя</td>
                                            <td data-label="Примечание" class="monce__tool-status"></td>
                                            <td data-label="Фотографии отгрузки" class="monce__tool-status"></td>
                                        </tr>
                                        <tr>
                                            <td data-label="Проект" class="column-table"></td>
                                            <td data-label="Клиент">Будут данные</td>
                                            <td data-label="Телефон">8999999999</td>
                                            <td data-label="Начало аренды" class="monce__tool-status"></td>
                                            <td data-label="Окончание аренды" class="monce__tool-status"></td>
                                            <td data-label="Дата и время создания" class="monce__tool-status"></td>
                                            <td data-label="Сотрудник">Фамилия Имя</td>
                                            <td data-label="Примечание" class="monce__tool-status"></td>
                                            <td data-label="Фотографии отгрузки" class="monce__tool-status"></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="pagination-control col-lg-12 order-lg-1">
                                <!-- Bootstrap 4 -->
                                <nav aria-label="Навигация по страницам">
                                    <ul class="pagination">
                                        <li class="page-item disabled">
                                            <a class="page-link-m page-link" href="#">
                                                Первая
                                            </a>
                                        </li>
                                        <li class="page-item disabled">
                                            <a class="page-link-m page-link" href="#" aria-label="Предыдущая">
                                                <span aria-hidden="true">«</span>
                                                <span class="sr-only">Предыдущая</span>
                                            </a>
                                        </li>
                                        <li class="page-item active">
                                            <a class="page-link-m page-link" href="#">1</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link-m page-link" href="#">2</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link-m page-link" href="#">3</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link-m page-link" href="#" aria-label="Следующая">
                                                <span aria-hidden="true">»</span>
                                                <span class="sr-only">Следующая</span>
                                            </a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link-m page-link" href="#">
                                                Последняя
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <div th:insert="fragments/footer.html"></div>
    </div>
</div>
</div>
</div>
<div th:insert="fragments/scripts.html"></div>
</body>

</html>