<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">

<head class="head">
    <title>Оборудование</title>
     <div th:replace="fragments/head :: header"></div>
     
</head>


<body class="fixed-sidebar pace-done fixed-nav fixed-nav-basic curent-page">
<div class="b-overlay-wrap position-relative w-100" size="sm" id="wrapper">
    <div class="b-overlay-wrap position-relative w-100" size="sm">
        <div th:insert="fragments/menu_sidebar.html"></div>
        <div class="b-overlay-wrap position-relative w-100" size="sm"></div>
        <div class="rih-page-wrapper">
            <nav  role="navigation" class="navbar navbar-admin navbar-fixed-top"
                 th:insert="fragments/header_logout.html"></nav>
            <main class="wrapper wrapper-content border-bottom">
                <div class="btn-pimary__groups-wrapper col-12 col-md-12 mb-3">
                    <div class="mb-3 text-right">
                        <a href="/tools/create" class="btn btn-primary width btn-add_vidacha green">Создать</a>
                    </div>
                    <div class="mb-3 text-right">
                        <a href="/estimate" class="btn btn-primary width grey">Ассоциативный массив</a>
                    </div>
                    <div class="mb-3 text-right">
                        <button href="#" class="btn btn-primary width red">Удалить</button>
                    </div>
                    <div class="mb-3 text-right">
                        <button href="/tools" class="btn btn-primary width orange ">Обновить</button>
                    </div>
                    <div class="mb-3 text-right">
                        <button href="#" class="btn btn-primary width light-grey">Импорт</button>
                    </div>
                    <div class="mb-3 text-right">
                        <button href="#" class="btn btn-primary width grey">Экспорт</button>
                    </div>
                    <div class="mb-3 text-right">
                        <button id="status_wait" class="btn btn-primary width yellow change_status">В ожидание
                        </button>
                    </div>
                    <div class="mb-3 text-right">
                        <button id="status_instock" class="btn btn-primary width green change_status">На склад
                        </button>
                    </div>
                </div>
                <div class="b-overlay-wrap position-relative custom-ll">
                    <div class="row">
                        <div class="btn__under-table col-6 col-lg-12 order-lg-1 justify-content-center">
                            <div class="mb-3 text-right">
                                <a th:href="@{/tools}" class="btn btn-primary width btn-update_vidacha  grey">Все</a>
                            </div>
                            <div class="mb-3 text-right">
                                <a th:href="@{/tools(filter=stock)}"
                                   class="btn btn-primary width btn-update_vidacha  grey">Склад</a>
                            </div>
                            <div class="mb-3 text-right">
                                <a th:href="@{/tools(filter=sublease)}"
                                   class="btn btn-primary width btn-update_vidacha  grey">Субаренда</a>
                            </div>
                        </div>
                        <div class="custom-ll__table table-responsive overflow-auto col-lg-12 order-lg-1">
                            <table class="table delivery w-table h-table in4dr-form">
                                <thead>
                                <tr>
                                    <th class="first-th">#</th>
                                    <th>Наименование</th>
                                    <th>Группа</th>
                                    <th>Штрихкод</th>
                                    <th>В смете</th>
                                    <th>Марка/Модель</th>
                                    <th>Серийный номер</th>
                                    <th>Комментарий</th>
                                    <th>Характеристики</th>
                                    <th>Состояние</th>
                                    <th>Цена аренды</th>
                                    <th>Себестоимость</th>
                                    <th>Комплект</th>
                                    <th>Количество</th>
                                    <th>Статус</th>
                                    <th>Кол-во смен</th>
                                    <th>Текущий проект</th>
                                    <th>Доход с оборудования</th>
                                    <th>Цена продажи</th>
                                    <th>Доход с продажи</th>
                                    <th>Доход с инвестора (%)</th>
                                    <th>Доход с инвестора</th>
                                    <th>Сумма ремонта</th>
                                    <th>Цена за субаренду</th>
                                    <th>Плата за субаренду</th>
                                    <th>Доп. доход</th>
                                    <th>Фото</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="tool : ${list_tools}">
                                    <td class="column-table">
                                        <div class="column-table_checkbox-wrapp " id="ids_tools">
                                            <input class="column-table_checkbox choose_tool" type="checkbox">
                                            <input type="hidden" class="id_tool" th:value="${tool.id}">
                                            <span class="tools-td-text table-td-text column-table_checkbox-number tool_id"
                                                  th:utext="${toolStat.index+1}"></span>
                                        </div>
                                    </td>
                                    <td data-label="Наименование"><a class="tools-td-text table-td-text tool_name"
                                           th:href="@{/tools/edit/{id}/(id=${tool.id})}"
                                           th:utext="${tool.name}"></a></td>
                                    <td data-label="Группа"><span class="tools-td-text table-td-text tool_category"
                                              th:utext="${tool.category.getData()}"></span></td>
                                    <td data-label="Штрихкод"><span class="tools-td-text table-td-text tool_barcode"
                                              th:utext="${tool.barcode}"></span></td>
                                    <td data-label="В смете"><span class="tools-td-text table-td-text tool_estimateName"
                                              th:utext="${tool.estimateName}"></span></td>
                                    <td data-label="Марка\Модель"><span class="tools-td-text table-td-text tool_model"
                                              th:utext="${tool.model}"></span></td>
                                    <td data-label="Серийный номер"><span class="tools-td-text table-td-text tool_serialNumber"
                                              th:utext="${tool.serialNumber}"></span></td>
                                    <td data-label="Комментарий"><span class="tools-td-text table-td-text tool_comment"
                                              th:utext="${tool.comment}"></span></td>
                                    <td data-label="Характеристики"><span class="tools-td-text table-td-text tool_characteristics"
                                              th:utext="${tool.characteristics}"></span></td>
                                    <td data-label="Состояние"><span class="tools-td-text table-td-text tool_state"
                                              th:utext="${tool.state}"></span></td>
                                    <td data-label="Цена аренды"><span class="tools-td-text table-td-text tool_priceByDay"
                                              th:utext="${tool.priceByDay}"></span></td>
                                    <td data-label="Себестоимость"><span class="tools-td-text table-td-text tool_costPrice"
                                              th:utext="${tool.costPrice}"></span></td>
                                    <td data-label="Комплект"><span class="tools-td-text table-td-text tool_equip"
                                              th:utext="${tool.equip}"></span></td>
                                    <td data-label="Кол-во"><span class="tools-td-text table-td-text tool_amount"
                                              th:utext="${tool.amount}"></span></td>
                                    <td data-label="Статус"><span class="tools-td-text table-td-text tool_status"
                                              th:utext="${tool.status.getValue()}"></span></td>
                                    <td data-label="Кол-во смен"><span class="tools-td-text table-td-text tool_numberWorkingShifts"
                                              th:utext="${tool.numberWorkingShifts}"></span></td>
                                    <td data-label="Текущий проект"><span class="tools-td-text table-td-text tool_project"
                                              th:utext="${tool.project}"></span></td>
                                    <td data-label="Доход с оборудования"><span class="tools-td-text table-td-text tool_incomeFromTools"
                                              th:utext="${tool.incomeFromTools}"></span></td>
                                    <td data-label="Цена продажи"><span class="tools-td-text table-td-text tool_priceSell"
                                              th:utext="${tool.priceSell}"></span></td>
                                    <td data-label="Доход с продажи"><span class="tools-td-text table-td-text tool_incomeSales"
                                              th:utext="${tool.incomeSales}"></span></td>
                                    <td data-label="Доход с инвестора (%)"><span class="tools-td-text table-td-text tool_incomeInvestorProcents"
                                              th:utext="${tool.incomeInvestorProcents}"></span></td>
                                    <td data-label="Доход с инвестора"><span class="tools-td-text table-td-text tool_incomeInvestor"
                                              th:utext="${tool.incomeInvestor}"></span></td>
                                    <td data-label="Сумма ремонта"><span class="tools-td-text table-td-text tool_repairAmount"
                                              th:utext="${tool.repairAmount}"></span></td>
                                    <td data-label="Цена за субаренду"><span class="tools-td-text table-td-text tool_priceSublease"
                                              th:utext="${tool.priceSublease}"></span></td>
                                    <td data-label="Плата за субаренду"><span class="tools-td-text table-td-text tool_paymentSublease"
                                              th:utext="${tool.paymentSublease}"></span></td>
                                    <td data-label="Доп. доход"><span class="tools-td-text table-td-text tool_incomeAdditional"
                                              th:utext="${tool.incomeAdditional}"></span></td>
                                    <td data-label="Фото">
                                        <span class="tool_photos">
                                            <span class="column-table__photo-mini" th:each="photo : ${tool.photos}">
                                                <a rel="modal:open" th:href="${'#'+photoStat.count+tool.id}">
                                                    <img class="column-table__photo-mini_img" th:src="${photo}">
                                                    <div th:id="${photoStat.count+''+tool.id}" class="modal">
                                                        <img th:src="${photo}">
                                                    </div>
                                                </a>
                                            </span>
                                        </span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="mb-3 text-right">
                        <button id="btn_replace_tools_to_project" class="btn btn-primary min-width-120 green"
                                style="display: none;">Заменить оборудование
                        </button>
                    </div>
                    <div class="pagination-control col-lg-12 order-lg-1">
                        <!-- Bootstrap 4 -->
                        <nav aria-label="Навигация по страницам">
                            <ul class="pagination">
                                <li class="page-item" th:if="${list_tools.totalPages > 0}"
                                    th:each="page_number : ${page_numbers}">
                                    <a class="page-link-m page-link"
                                       th:href="@{/tools(size=${list_tools.size}, page=${page_numberStat.index})}"
                                       th:text="${page_numberStat.index}"
                                       th:class="${page_number==list_tools.number + 1} ? active"></a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                </div>
            </main>
            <div th:insert="fragments/footer.html"></div>
        </div>
    </div>
</div>
<div th:insert="fragments/scripts.html"></div>
</body>

</html>