<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Списание-Создать</title>
    <div th:replace="fragments/head :: header"></div>
</head>

<body class="fixed-sidebar pace-done fixed-nav fixed-nav-basic curent-page">
<div class="b-overlay-wrap position-relative w-100" size="sm" id="wrapper">
    <div class="b-overlay-wrap position-relative w-100" size="sm" id="wrapper">
        <div th:insert="fragments/menu_sidebar.html"></div>
        <div class="b-overlay-wrap position-relative w-100" size="sm">
            <div class="rih-page-wrapper">
                <nav data-v-59295fda="" role="navigation" class="navbar navbar-admin navbar-fixed-top"
                     th:insert="fragments/header_logout.html"></nav>
                <form th:action="@{/write-off/create}" method="post" th:object="${status}">
                    <main class="wrapper wrapper-content border-bottom">
                        <div class="b-overlay-wrap position-relative">
                            <div class="btn-pimary__groups mt-3 mb-3">
                                <div class="btn-pimary__groups-wrapper vidacha-sozdach mb-3">
                                    <div class="mb-3 text-right">
                                        <span class="btn-pimary__groups_title">Списание</span>
                                    </div>
                                    <div class="mb-3 text-right">
                                        <a href="/write-off" class="btn btn-primary min-width-120 grey">Назад</a>
                                    </div>
                                    <div class="mb-3 text-right">
                                        <a href="/tools/create" class="btn btn-primary min-width-120 green">Добавить
                                            оборудование</a>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-content">
                                <div class="form-creat mb-3 col-12">
                                    <div class="bg-white p-3 edit-container">
                                        <div class="form-creat__half_two-column">
                                            <div role="group" class="form-group">
                                                <label class="d-block">Примечание</label>
                                                <span>
                                                    <textarea th:field="*{note}" name="note" class="form-control"
                                                              style="height: 40px;"></textarea>
                                                </span>
                                            </div>
                                        </div>
                                        <div class=" form-creat__half_two-column">
                                            <div role="group" class="form-group">
                                                <label class="d-block">Фотографии</label>
                                                <span>
                                                    <textarea th:field="*{photos}" class="form-control"
                                                              style="height: 40px;"></textarea>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="edit_buttons"
                                     class="btn-pimary__groups-wrapper btn-pimary__groups-wrapper_client mb-3 "
                                     style="display: none;">
                                   <!-- <div class="mb-3 text-right">
                                        <input class="btn btn-primary min-width-120 green" type="submit"
                                               id="update_client"
                                               value="Обновить">
                                    </div>-->
                                    <!--<div class="mb-3 text-right">
                                        <input class="btn btn-primary min-width-120 red" type="submit"
                                               id="delete_client"
                                               value="Удалить">
                                    </div>-->
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-creat__itog mb-3">
                                    <h3 class="form-creat__itog-title form-creat__itog-title_text">Всего цена
                                        списания</h3>
                                    <div class="project__all-data all-data_input">
                                        <span type="text" class="vdatetime-input form-control span-input"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="custom-ll__table table-responsive mb-3">
                                <table class="table table-1480 w-100 in4dr-form">
                                    <tbody>
                                    <thead>
                                    <tr>
                                        <th class="first-th">#</th>
                                        <th>Наименование</th>
                                        <th>Штрих код</th>
                                        <th>Группа</th>
                                        <th>Марка/Модель</th>
                                        <th>Серийный номер</th>
                                        <th>Комментарий</th>
                                        <th>Характеристики</th>
                                        <th>Состояние</th>
                                        <th>Цена</th>
                                        <th>Себестоимость</th>
                                        <th>Комплект</th>
                                        <th class="first-th">*</th>
                                        <th>Сумма списания</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="tool,itemStat : ${list_tools}" class="row-tool">
                                        <td class="column-table">
                                            <div class="column-table_checkbox-wrapp">
                                                <input class="column-table_checkbox choose_tool" type="checkbox"
                                                       th:field="*{tools_id_with_prices[__${itemStat.index}__].checked}">
                                                <input type="hidden"
                                                       th:name="tools_id_with_prices[__${itemStat.index}__].id"
                                                       th:value="${tool.id}">
                                            </div>
                                        </td>
                                        <td th:utext="${tool.name}"></td>
                                        <td class="barcode-tool" th:utext="${tool.barcode}"></td>
                                        <td th:utext="${tool.category.getData()}"></td>
                                        <td th:utext="${tool.model}"></td>
                                        <td th:utext="${tool.serialNumber}"></td>
                                        <td th:utext="${tool.comment}"></td>
                                        <td th:utext="${tool.characteristics}"></td>
                                        <td th:utext="${tool.state}"></td>
                                        <td th:utext="${tool.costPrice}"></td>
                                        <td th:utext="${tool.priceSell}"></td>
                                        <td th:utext="${tool.equip}"></td>
                                        <td></td>
                                        <td class="td-whith-input">
                                            <input th:field="*{tools_id_with_prices[__${itemStat.index}__].price}"
                                                   name="price"
                                                   class="form-control input-without-style writeoff_price" type="text"
                                                   placeholder="Введите цену"
                                                   oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g,'$1');"
                                                   aria-describedby="item-human-passport_serial">
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="btn-pimary__groups mt-3 mb-3">
                                <div class="btn-pimary__groups-wrapper mb-3">
                                    <div class="mb-3 text-right">
                                        <span class="btn-pimary__groups_title">Действия</span>
                                    </div>
                                    <div class="mb-3 text-right">
                                        <input type="submit" value="В списание"
                                               class="btn btn-primary min-width-120 orange">
                                    </div>
                                    <div class="mb-3 text-right">
                                        <a href="/repair/create" class="btn btn-primary min-width-120 green">Показать все</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </main>
                </form>
                <form th:action="@{/write-off/create}" method="get">
                    <div class="custom-ll__header custom-ll__header-zipcode">
                        <div class="custom-ll__header__full show">
                            <div class="custom-ll__header__full__right">
                                <div class="custom-ll__header-wrapp">
                                    <div class="header__search header__search_width header__search_width-clients">
                                        <input id="barcode_search_input" type="text" name="barcode"
                                               placeholder="Введите штрих код"
                                               class="form-control">
                                        <span class="header__search__btn"><svg
                                                class="svg-inline--fa fa-search fa-w-16"
                                                aria-hidden="true"
                                                focusable="false" data-prefix="fa"
                                                data-icon="search"
                                                role="img" xmlns="http://www.w3.org/2000/svg"
                                                viewBox="0 0 512 512" data-fa-i2svg=""><path
                                                fill="currentColor"
                                                d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path></svg>
                                            <!-- <i class="fa fa-search"></i> Font Awesome fontawesome.com --></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="pagination-control col-lg-12 order-lg-1">
                    <!-- Bootstrap 4 -->
                    <nav aria-label="Навигация по страницам">
                        <ul class="pagination">
                            <li class="page-item" th:if="${list_tools.totalPages > 0}"
                                th:each="page_number : ${page_numbers}">
                                <a class="page-link-m page-link"
                                   th:href="@{/write-off/create(size=${list_tools.size}, page=${page_numberStat.index})}"
                                   th:text="${page_numberStat.index}"
                                   th:class="${page_number==list_tools.number + 1} ? active"></a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div th:insert="fragments/footer.html"></div>
            </div>
        </div>
    </div>
</div>
<div th:insert="fragments/scripts.html"></div>
<div>  <script src="/static/js/SearchBarcode.js" th:src="@{/js/SearchBarcode.js}"></script></div>
</body>
</html>